@import '../share/mixin';
@import '../share/variable';

.luna-editor {
  border: 1px solid $border-color;
  * {
    box-sizing: border-box;
  }
  &.fullscreen {
    position: fixed;
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    left: 0;
    top: 0;
  }
}

.toolbar {
  background: $background-color;
  padding: 0 6px;
  font-size: 0;
  border-bottom: 1px solid $border-color;
}

.button {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  background: $background-color;
  cursor: pointer;
  border: none;
  color: $foreground-color;
  &:hover {
    background: $darker-background-color;
  }
  &.active {
    color: $primary-color;
  }
  &:active,
  &:focus {
    outline: none;
  }
  .icon {
    vertical-align: middle;
    line-height: 30px;
    font-size: 20px;
  }
}

.body {
  background: $background-color;
  height: 300px;
}

.content {
  padding: 6px;
  width: 100%;
  height: 100%;
  @include overflow-auto(y);
  &:focus {
    outline: none;
  }
  blockquote {
    margin: 10px 0;
    padding: 5px 10px;
    border-left: 8px solid $primary-color;
    background: $darker-background-color;
  }
}
