@use '../share/mixin' as mixin;
@use '../share/theme' as theme;

.luna-icon-list {
  display: flex;
  width: 100%;
  @include mixin.component();
  &.grid {
    display: grid;
    &::after {
      display: none;
    }
    .item {
      margin-right: 0;
    }
  }
  &::after {
    content: '';
    flex-grow: 1;
  }
}

.item {
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  box-sizing: border-box;
  flex-direction: column;
}

.icon {
  margin: 0 auto;
  width: 100%;
  padding: #{theme.$padding-x-s}px;
  overflow: hidden;
  font-size: 0;
  margin-bottom: 2px;
  img {
    width: 100%;
    aspect-ratio: 1;
  }
}

.name {
  width: 100%;
  white-space: nowrap;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: #{theme.$font-size-s-m}px;
}
