@use '../share/mixin' as *;
@use '../share/theme' as *;

.luna-icon-list {
  width: 100%;
  padding-top: #{$padding-x-s}px;
  padding-bottom: #{$padding-x-s}px;
  overflow-x: hidden;
  @include overflow-auto(y);
  @include component(true);
}

.icon-container {
  display: flex;
  &.grid {
    display: grid;
    &::after {
      display: none;
    }
    .item {
      margin-right: 0;
    }
  }
  &::after {
    content: '';
    flex-grow: 1;
  }
}

.item {
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  box-sizing: border-box;
  flex-direction: column;
}

.icon {
  margin: 0 auto;
  width: 100%;
  padding: #{$padding-x-s}px;
  overflow: hidden;
  font-size: 0;
  margin-bottom: 2px;
  border-radius: #{$border-radius-s-m}px;
  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}

.name {
  max-width: 120%;
  text-align: center;
  overflow: visible;
  font-size: #{$font-size-s-m}px;
  height: 1.2em;
}

.name-wrapper {
  padding: 2px;
  border-radius: #{$border-radius-s-m}px;
  overflow: hidden;
  line-height: 1.2em;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

@each $theme in ('light', 'dark') {
  .theme-#{$theme} {
    .item {
      &.selected {
        .icon {
          @include theme-var(background-color, color-border, $theme);
        }
        .name {
          .name-wrapper {
            @include theme-vars(
              (
                background-color: color-primary,
                color: color-white,
              ),
              $theme
            );
          }
        }
      }
    }
  }
}
