@import './theme';

@mixin overflow-auto($direction: 'both') {
  @if $direction == 'both' {
    overflow: auto;
  } @else {
    overflow-#{$direction}: auto;
  }
  -webkit-overflow-scrolling: touch;
}

@mixin component {
  color: $color-text;
  background-color: $color-bg-container;
  font-family: $font-family;
  box-sizing: border-box;
  user-select: none;
  font-size: #{$font-size}px;
  &.hidden,
  .hidden {
    display: none;
  }
  &.invisible,
  .invisible {
    visibility: hidden;
  }
  * {
    box-sizing: border-box;
  }
  &.theme-dark {
    color-scheme: dark;
    color: $color-text-dark;
    background-color: $color-bg-container-dark;
  }
}

@mixin clear-float {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

@mixin controller($name) {
  .luna-#{$name} {
    &:hover {
      .controller {
        opacity: 1;
      }
    }
    &.controller-hidden {
      cursor: none;
      .controller {
        opacity: 0;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
  .controller {
    cursor: default;
    opacity: 0;
    left: 0;
    right: 0;
    height: 41px;
    padding: 0 20px;
    position: absolute;
    bottom: 0;
    transition: opacity 0.3s;
    &.active {
      opacity: 1 !important;
    }
  }
  .controller-mask {
    position: absolute;
    pointer-events: none;
    height: 100px;
    bottom: 0;
    left: 0;
    width: 100%;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADGCAYAAAAT+OqFAAAAdklEQVQoz42QQQ7AIAgEF/T/D+kbq/RWAlnQyyazA4aoAB4FsBSA/bFjuF1EOL7VbrIrBuusmrt4ZZORfb6ehbWdnRHEIiITaEUKa5EJqUakRSaEYBJSCY2dEstQY7AuxahwXFrvZmWl2rh4JZ07z9dLtesfNj5q0FU3A5ObbwAAAABJRU5ErkJggg==)
      repeat-x bottom;
  }
  .controller-left,
  .controller-right {
    height: 38px;
    position: absolute;
    bottom: 0;
    .icon {
      vertical-align: top;
      cursor: pointer;
      color: #eee;
      height: 100%;
      line-height: 38px;
      &:hover {
        color: #fff;
      }
    }
  }
  .controller-left {
    left: 20px;
  }
  .controller-right {
    right: 20px;
    .icon {
      margin-left: 8px;
    }
  }
}

@mixin code-color($dark: false) {
  @if $dark {
    .keyword {
      color: #e36eec;
    }
    .number {
      color: #9980ff;
    }
    .operator {
      color: #7f7f7f;
    }
    .comment {
      color: #747474;
    }
    .string {
      color: #f29766;
    }
  } @else {
    .keyword {
      color: #881280;
    }
    .number {
      color: #1c00cf;
    }
    .operator {
      color: #808080;
    }
    .comment {
      color: #236e25;
    }
    .string {
      color: #1a1aa6;
    }
  }
}

@mixin input($dark: false) {
  @if $dark {
    background: $color-border-dark;
    border-color: $color-border-dark;
    color: $color-text-dark;
  } @else {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color: $color-text;
    appearance: none;
    border: 1px solid $color-border;
    outline: none;
    padding: 2px 8px;
    border-radius: #{$border-radius-x-s}px;
    font-size: #{$font-size}px;
    background: $color-bg-container;
  }
}

@mixin checkbox($dark: false) {
  @if $dark {
    border-color: $color-border-dark;
  } @else {
    appearance: none;
    width: 14px;
    height: 14px;
    border: 1px solid $color-border;
    border-radius: 0;
    position: relative;
    outline: none;
    margin-left: 0;
    margin-right: 8px;
    transition: background-color 0.1s;
    &:checked {
      background-color: $color-primary;
      border-color: $color-primary;
      &:after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-image: url('data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9JzMwMHB4JyB3aWR0aD0nMzAwcHgnICBmaWxsPSIjZmZmZmZmIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgMTAwIDEwMCIgdmVyc2lvbj0iMS4xIiB4PSIwcHgiIHk9IjBweCI+PHRpdGxlPmljb25fYnlfUG9zaGx5YWtvdjEwPC90aXRsZT48ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz48ZyBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48ZyBmaWxsPSIjZmZmZmZmIj48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgyNi4wMDAwMDAsIDI2LjAwMDAwMCkiPjxwYXRoIGQ9Ik0xNy45OTk5ODc4LDMyLjQgTDEwLjk5OTk4NzgsMjUuNCBDMTAuMjI2Nzg5MSwyNC42MjY4MDE0IDguOTczMTg2NDQsMjQuNjI2ODAxNCA4LjE5OTk4Nzc5LDI1LjQgTDguMTk5OTg3NzksMjUuNCBDNy40MjY3ODkxNCwyNi4xNzMxOTg2IDcuNDI2Nzg5MTQsMjcuNDI2ODAxNCA4LjE5OTk4Nzc5LDI4LjIgTDE2LjU4NTc3NDIsMzYuNTg1Nzg2NCBDMTcuMzY2ODIyOCwzNy4zNjY4MzUgMTguNjMzMTUyOCwzNy4zNjY4MzUgMTkuNDE0MjAxNCwzNi41ODU3ODY0IEw0MC41OTk5ODc4LDE1LjQgQzQxLjM3MzE4NjQsMTQuNjI2ODAxNCA0MS4zNzMxODY0LDEzLjM3MzE5ODYgNDAuNTk5OTg3OCwxMi42IEw0MC41OTk5ODc4LDEyLjYgQzM5LjgyNjc4OTEsMTEuODI2ODAxNCAzOC41NzMxODY0LDExLjgyNjgwMTQgMzcuNzk5OTg3OCwxMi42IEwxNy45OTk5ODc4LDMyLjQgWiI+PC9wYXRoPjwvZz48L2c+PC9nPjwvc3ZnPg==');
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
}

@mixin select($dark: false) {
  @if $dark {
    select {
      color: $color-text-dark;
      border-color: $color-border-dark;
      background: $color-border-dark;
    }
    &:after {
      border-top-color: $color-text-dark;
    }
  } @else {
    position: relative;
    select {
      margin: 0;
      font-size: #{$font-size}px;
      background: $color-bg-container;
      appearance: none;
      border: 1px solid $color-border;
      padding: 2px 8px;
      padding-right: 18px;
      outline: none;
      color: $color-text;
      border-radius: #{$border-radius-x-s}px;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    &:after {
      content: '';
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid $color-text;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 6px;
      margin: auto;
      pointer-events: none;
    }
  }
}

@mixin button($dark: false) {
  @if $dark {
    background: $color-bg-container-dark;
    border-color: $color-border-dark;
    &:hover,
    &:active {
      background: $color-fill-secondary-dark;
    }
    &:active {
      border: 1px solid $color-primary;
    }
  } @else {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background: $color-bg-container;
    border: 1px solid $color-border;
    padding: 2px 8px;
    color: $color-primary;
    font-size: #{$font-size}px;
    border-radius: #{$border-radius-x-s}px;
    &:hover,
    &:active {
      background: $color-fill-secondary;
    }
    &:active {
      border: 1px solid $color-primary;
    }
  }
}
