$box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.07), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
$font-family: Arial, Helvetica, sans-serif;
$font-family-code: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
  Liberation Mono, monospace;
$font-size: 14px;
$font-size-s: 12px;

$box-shadow-dark: 0 2px 2px 0 rgba(255, 255, 255, 0.07),
  0 1px 5px 0 rgba(255, 255, 255, 0.1);

// Colors
$primary-color: #1a73e8;
$background-color: #fff;
$darker-background-color: #f3f3f3;
$select-foreground-color: #fff;
$foreground-color: #333;
$border-color: #ccc;
$success-color: #188037;

$background-color-dark: #242424;
$darker-background-color-dark: #292a2d;
$foreground-color-dark: #a5a5a5;
$border-color-dark: #3d3d3d;
$success-color-dark: #81c995;
