@import '../share/mixin';

.luna-music-visualizer {
  background: #13242f;
  font-size: 0;
  position: relative;
  min-height: 150px;
}

@include controller('music-visualizer');

.canvas {
  width: 100%;
  height: 100%;
}
