@use '../share/mixin' as mixin;
@use '../share/theme' as theme;

.luna-menu-bar {
  border-bottom: 1px solid theme.$color-border;
  @include mixin.component();
}

.menu-list {
  font-size: 0;
  @include mixin.clear-float();
}

.menu-item {
  font-size: #{theme.$font-size-s-m}px;
  padding: 2px 6px;
  cursor: default;
  display: block;
  float: left;
  user-select: none;
  &:hover {
    color: theme.$color-text;
    background: theme.$color-fill-secondary;
  }
}

.theme-dark {
  border-color: theme.$color-border-dark;
}
