@import '../share/mixin';

.luna-menu-bar {
  @include component();
  border-bottom: 1px solid $color-border;
}

.menu-list {
  font-size: 0;
  @include clear-float();
}

.menu-item {
  font-size: #{$font-size-s-m}px;
  padding: 2px 6px;
  cursor: default;
  display: block;
  float: left;
  user-select: none;
  &:hover {
    color: $color-text;
    background: $color-fill-secondary;
  }
}

.theme-dark {
  border-color: $color-border-dark;
}
