@import '../share/mixin';
@import '../share/variable';

.luna-setting {
  @include component();
}

.item {
  &:hover {
    background: $darker-background-color;
  }
  .title {
    line-height: 1.4em;
    font-weight: 600;
  }
  .description {
    line-height: 1.4em;
  }
  .description,
  .control {
    font-size: $font-size-s;
  }
  .description {
    margin-bottom: 8px;
  }
  .control {
    display: flex;
    align-items: center;
  }
}

.item-title,
.item-checkbox,
.item-select {
  padding: 10px;
}

.item-title {
  font-size: 18px;
  font-weight: 600;
}

.item-checkbox {
  input {
    @include checkbox();
  }
  label {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}

.item-select {
  .select {
    @include select();
  }
}

.item-separator {
  border-bottom: 1px solid $border-color;
}

.theme-dark {
  color-scheme: dark;
  color: $foreground-color-dark;
  background: $background-color-dark;
  .item {
    &:hover {
      background: $darker-background-color-dark;
    }
  }
  .item-separator {
    border-color: $border-color-dark;
  }
  .item-checkbox {
    input {
      @include checkbox(true);
    }
  }
  .item-select {
    .select {
      @include select(true);
    }
  }
}
