@import '../share/mixin';

.luna-setting {
  @include component();
  min-width: 320px;
}

.item {
  &:hover,
  &.selected {
    background: $color-fill-secondary;
  }
  &.selected:focus {
    outline: 1px solid $color-primary;
  }
  .title {
    line-height: 1.4em;
    font-weight: 600;
  }
  .description,
  &.item-markdown {
    line-height: 1.4em;
    * {
      margin: 0;
    }
    strong {
      font-weight: 600;
    }
    a {
      background-color: transparent;
      color: #0969da;
      text-decoration: none;
    }
  }
  .description,
  .control {
    font-size: #{$font-size-s-m}px;
  }
  .description {
    margin-bottom: 8px;
  }
  .control {
    display: flex;
    align-items: center;
  }
}

.item-title,
.item-checkbox,
.item-select,
.item-input,
.item-button,
.item-markdown,
.item-number {
  padding: 10px;
}

.item-title {
  font-weight: 600;
  &.level-1 {
    font-size: 18px;
  }
  &.level-2 {
    font-size: 16px;
  }
  &.level-3 {
    font-size: 14px;
  }
}

.item-input {
  &.disabled {
    input {
      opacity: 0.6;
    }
  }
  input {
    @include input();
    width: 100%;
  }
}

.item-number {
  &.disabled {
    input,
    .range-container {
      opacity: 0.6;
    }
    .range-container input {
      opacity: 1;
    }
  }
  input[type='number'] {
    @include input();
    width: 200px;
    padding: 2px;
  }
  .range-container {
    flex: 2;
    position: relative;
    top: 1px;
    .range-track {
      height: 4px;
      width: 100%;
      padding: 0 10px;
      position: absolute;
      left: 0;
      top: 4px;
      .range-track-bar {
        background: $color-border;
        border-radius: 2px;
        overflow: hidden;
        width: 100%;
        height: 4px;
        .range-track-progress {
          height: 100%;
          background: $color-primary;
          width: 50%;
        }
      }
    }
    input {
      -webkit-appearance: none;
      background: transparent;
      height: 4px;
      width: 100%;
      position: relative;
      top: -3px;
      margin: 0 auto;
      outline: none;
      border-radius: 2px;
    }
    input::-webkit-slider-thumb {
      -webkit-appearance: none;
      position: relative;
      top: 0px;
      z-index: 1;
      width: 16px;
      border: none;
      height: 16px;
      border-radius: 10px;
      border: 1px solid $color-border;
      background: radial-gradient(
        circle at center,
        #eee 0,
        #eee 15%,
        #fff 22%,
        #fff 100%
      );
    }
  }
}

.item-checkbox {
  &.disabled {
    .control {
      opacity: 0.6;
    }
  }
  input {
    @include checkbox();
    align-self: flex-start;
    flex-shrink: 0;
  }
  label {
    * {
      margin: 0;
    }
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}

.item-select {
  &.disabled {
    .select {
      opacity: 0.6;
    }
  }
  .select {
    @include select();
    select {
      width: 300px;
    }
  }
}

.item-button {
  button {
    @include button();
  }
}

.item-separator {
  border-bottom: 1px solid $color-border;
}

.theme-dark {
  .item {
    &:hover,
    &.selected {
      background: $color-fill-secondary-dark;
    }
    .description {
      a {
        background-color: transparent;
        color: #58a6ff;
      }
    }
  }
  .item-separator {
    border-color: $color-border-dark;
  }
  .item-input {
    input {
      @include input(true);
    }
  }
  .item-checkbox {
    input {
      @include checkbox(true);
    }
  }
  .item-select {
    .select {
      @include select(true);
    }
  }
  .item-button {
    button {
      @include button(true);
    }
  }
  .item-number {
    input[type='number'] {
      @include input(true);
    }
    .range-container {
      .range-track {
        .range-track-bar {
          background: $color-border-dark;
        }
      }
      input::-webkit-slider-thumb {
        border-color: $color-border-dark;
        background: radial-gradient(
          circle at center,
          #aaa 0,
          #aaa 15%,
          #ccc 22%,
          #ccc 100%
        );
      }
    }
  }
}
