@use '../share/mixin' as mixin;
@use '../share/theme' as theme;

.luna-command-palette {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 10px;
  overflow: hidden;
  @include mixin.component(true);
}

.body {
  max-width: 100%;
  box-shadow: theme.$box-shadow;
  font-size: 12px;
}

.input {
  box-sizing: border-box;
  outline: none;
  width: 100%;
  border: none;
  border-bottom: 1px solid;
  padding: 10px 4px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 200px;
  overflow-y: auto;
  li {
    padding: 5px;
    cursor: pointer;
    display: flex;
    .title {
      flex: 1;
      overflow: hidden;
    }
  }
}

.hidden {
  display: none;
}

@each $theme in ('light', 'dark') {
  .theme-#{$theme} {
    .body {
      @include mixin.theme-rule(background-color, color-bg-container, $theme);
    }

    .input {
      @include mixin.theme-rule(background-color, color-bg-container, $theme);
      @include mixin.theme-rule(border-color, color-border, $theme);
      @include mixin.theme-rule(color, color-text, $theme);
    }

    .list {
      li {
        &:hover {
          @include mixin.theme-rule(
            background-color,
            color-fill-secondary,
            $theme
          );
        }
        &.active {
          @include mixin.theme-rule(color, color-white, $theme);
          @include mixin.theme-rule(background-color, color-primary, $theme);
        }
      }
    }
  }
}
