@use '../share/mixin' as mixin;
@use '../share/theme' as theme;

.luna-command-palette {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 10px;
  overflow: hidden;
  @include mixin.component();
  & {
    background: transparent !important;
  }
}

.body {
  max-width: 100%;
  box-shadow: theme.$box-shadow;
  font-size: 12px;
  background: theme.$color-bg-container;
}

.input {
  box-sizing: border-box;
  outline: none;
  width: 100%;
  border: none;
  border-bottom: 1px solid theme.$color-border;
  padding: 10px 4px;
  color: theme.$color-text;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 200px;
  overflow-y: auto;
  li {
    padding: 5px;
    cursor: pointer;
    display: flex;
    &:hover {
      background: theme.$color-fill-secondary;
    }
    &.active {
      color: theme.$color-white;
      background: theme.$color-primary;
    }
    .title {
      flex: 1;
      overflow: hidden;
    }
  }
}

.hidden {
  display: none;
}

.theme-dark {
  .body {
    background: theme.$color-bg-container-dark;
  }
  .input {
    background: theme.$color-bg-container-dark;
    border-color: theme.$color-border-dark;
  }
  li {
    &:hover {
      background: theme.$color-fill-secondary-dark;
    }
    &.active {
      color: theme.$color-white;
      background: theme.$color-primary;
    }
  }
}
