@font-face {
  font-family: 'luna-modal-icon';
  src: url('data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAAQwAAsAAAAABpQAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABHU1VCAAABCAAAAEkAAABoILgliE9TLzIAAAFUAAAAPQAAAFZL+0kZY21hcAAAAZQAAACBAAAB3sqmCy5nbHlmAAACGAAAAC0AAAA0Ftcaz2hlYWQAAAJIAAAALgAAADZzhL4YaGhlYQAAAngAAAAYAAAAJAFoANBobXR4AAACkAAAAA8AAAAcAMgAAGxvY2EAAAKgAAAADgAAABAATgBObWF4cAAAArAAAAAfAAAAIAESABhuYW1lAAAC0AAAASkAAAIWm5e+CnBvc3QAAAP8AAAAMQAAAEOplauDeJxjYGRgYOBiMGCwY2BycfMJYeDLSSzJY5BiYGGAAJA8MpsxJzM9kYEDxgPKsYBpDiCWgNIsQMzKwAykWRnYgGxGBiYAk+wFgwAAAHicY2BkkGWcwMDKwMBQx9ADJGWgdAIDJ4MxAwMTAyszA1YQkOaawnCAIfkjI8MJIFcITDIwMIIIAGAqCKIAAAB4nM2RQQqDQAxFXxyVUsST9DhduBd3ggsv0JX39QT6kwYED1D6hzeQD0nmM0ADFPESNdiG4frItfALz/Br3qp7HlS0jEzMLKy7HYf8e33J1HMdortoWuPzreUX8p2hEikj9f+oi3vIyl86JpWYEvfnxH9sSTzPmijXbl+wE7urE5sAAAB4nGNgZACB+UDIzcBgrs6uzi7OLm4ubq4+j1tfn1tPD0xOhjGAJAMDAKekBtMAAAB4nGNgZGBgAGLPuE0l8fw2Xxm4GU4ABaI4H+9rQNBAMB8IGRg4GJhAHAA5KgqUAAB4nGNgZGBgOMHAACfnMzAyoAJ2ADfsAjl4nGNgAIITDFgBABIUAMkAeJxjYAACKQQEAAO4AJ0AAHicY2BkYGBgZ+BhANEMDExAzAWEDAz/wXwGAApKASsAeJxlkD1uwkAUhMdgSAJSghQpKbNVCiKZn5IDQE9Bl8KYtTGyvdZ6QaLLCXKEHCGniHKCHChj82hgLT9/M2/e7soABviFh3p5uG1qvVq4oTpxm/Qg7JOfhTvo40W4S38o3MMbpsJ9POKdO3j+HZ0BSuEW7vEh3Kb/KeyTv4Q7eMK3cJf+j3APK/wJ9/HqDdPIFLEp3FIn+yy0Z3n+rrStUlOoSTA+WwtdaBs6vVHro6oOydS5WMXW5GrOrs4yo0prdjpywda5cjYaxeIHkcmRIoJBgbipDktoJNgjQwh71b3UK6YtKvq1VpggwPgqtWCqaJIhlcaGyTWOrBUOPG1K1zGt+FrO5KS5zGreJCMr/u+6t6MT0Q+wbaZKzDDiE1/kg+YO+T89EV6oAAAAeJxjYGKAABiNDtgZmRiZGVkYWRnZGNkZORhYk3Pyi1MZkxlzGPMZixlTGRgANIEEbAAAAA==')
    format('woff');
}

[class^='icon-'],
[class*=' icon-'] {
  font-family: 'luna-modal-icon' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: '\f101';
}
