@use '../share/mixin' as *;
@use '../share/theme' as *;

.luna-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  @include component();
  & {
    background: rgba(0, 0, 0, 0.5);
  }
}

.icon-close {
  position: absolute;
  right: 16px;
  top: 18px;
  cursor: pointer;
  font-size: 20px;
}

.body {
  position: relative;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  border: 1px solid;
  &.no-title {
    position: static;
    .title {
      display: none;
    }
    .icon-close {
      color: #fff;
    }
  }
  &.no-footer {
    .footer {
      display: none;
    }
  }
}

.hidden {
  display: none;
}

.title {
  padding: 16px;
  padding-right: 36px;
  padding-bottom: 0;
  font-size: 18px;
  height: 46px;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-shrink: 0;
}

.content {
  padding: 16px;
  overflow-y: auto;
}

.footer {
  flex-shrink: 0;
  padding: 12px;
}

.button-group {
  display: flex;
  justify-content: flex-end;
}

.button {
  padding: 0 12px;
  cursor: default;
  position: relative;
  user-select: none;
  margin: 0 4px;
  font-size: #{$font-size-s-m}px;
  border-radius: 4px;
  overflow: hidden;
  height: 28px;
  line-height: 28px;
  &:active {
    &::before {
      content: '';
      opacity: 0.4;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
    }
  }
  &.secondary {
    border: 1px solid;
  }
  &.primary {
    color: #fff;
  }
}

.input {
  box-sizing: border-box;
  outline: none;
  width: 100%;
  font-size: 16px;
  padding: 6px 12px;
  border: 1px solid;
  -webkit-appearance: none;
  -moz-appearance: none;
}

@each $theme in ('light', 'dark') {
  .theme-#{$theme} {
    .body {
      @include theme-vars(
        (
          background-color: color-bg-container,
          border-color: color-border,
        ),
        $theme
      );
    }
    .button {
      @include theme-var(background-color, color-bg-container, $theme);
      &:active {
        &::before {
          @include theme-var(background-color, color-primary, $theme);
        }
      }
      &.secondary {
        @include theme-vars(
          (
            color: color-primary,
            border-color: color-border,
            background-color: color-bg-container,
          ),
          $theme
        );
      }
      &.primary {
        @include theme-var(background-color, color-primary, $theme);
      }
    }
    .input {
      @include theme-vars(
        (
          background-color: color-bg-container,
          color: color-text,
          border-color: color-border,
        ),
        $theme
      );
    }
  }
}
