@import '../share/mixin';

.luna-modal {
  @include component();
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-close {
  position: absolute;
  right: 16px;
  top: 18px;
  cursor: pointer;
  font-size: 20px;
}

.body {
  position: relative;
  background: $color-bg-container;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  &.no-title {
    position: static;
    .title {
      display: none;
    }
    .icon-close {
      color: #fff;
    }
  }
  &.no-footer {
    .footer {
      display: none;
    }
  }
}

.hidden {
  display: none;
}

.title {
  padding: 16px;
  padding-right: 36px;
  padding-bottom: 0;
  font-size: 18px;
  height: 46px;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content {
  padding: 16px;
  overflow-y: auto;
}

.footer {
  padding: 12px;
}

.button-group {
  display: flex;
  justify-content: flex-end;
}

.button {
  padding: 0 12px;
  background: #e9ecef;
  cursor: default;
  position: relative;
  user-select: none;
  margin: 0 4px;
  font-size: #{$font-size-s-m}px;
  border-radius: 4px;
  overflow: hidden;
  height: 28px;
  line-height: 28px;
  &:active {
    &::before {
      background: $color-primary;
      content: '';
      opacity: 0.4;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
    }
  }
  &.secondary {
    color: $color-primary;
    border: 1px solid $color-border;
    background: #fff;
  }
  &.primary {
    color: #fff;
    background: $color-primary;
  }
}

.input {
  box-sizing: border-box;
  outline: none;
  width: 100%;
  font-size: 16px;
  padding: 6px 12px;
  border: 1px solid $color-border;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.theme-dark {
  .body {
    background: $color-bg-container-dark;
    border: 1px solid $color-border-dark;
  }
}
