@import '../share/mixin';

.luna-performance-monitor {
  @include component();
  box-shadow: $box-shadow;
  width: 100%;
  padding: 5px;
}

.title {
  font-size: #{$font-size}px;
  margin-bottom: 5px;
  color: $color-text;
}

.value {
  float: right;
}

.chart {
  box-sizing: border-box;
  border: 1px solid $color-border;
  width: 100%;
  height: 100px;
}

.theme-dark {
  box-shadow: $box-shadow-dark;
  .title {
    color: $color-text-dark;
  }
  .chart {
    border-color: $color-border-dark;
  }
}
