@import '../share/variable';

.luna-performance-monitor {
  box-shadow: $box-shadow;
  background: $background-color;
  width: 100%;
  padding: 5px;
  &.theme-dark {
    box-shadow: $box-shadow-dark;
    background: $background-color-dark;
  }
}

.title {
  font-size: $font-size;
  margin-bottom: 5px;
  color: $foreground-color;
}

.value {
  float: right;
}

.chart {
  box-sizing: border-box;
  border: 1px solid $border-color;
  width: 100%;
  height: 100px;
}

.theme-dark {
  .title {
    color: $foreground-color-dark;
  }
  .chart {
    border-color: $border-color-dark;
  }
}
