@use '../share/mixin' as *;
@use '../share/theme' as *;

.luna-music-player {
  @include component();
}

.body {
  border: 1px solid;
}

.body-left {
  width: 90px;
  height: 90px;
  float: left;
}

.cover {
  position: relative;
  background-size: cover;
  background-position: 50%;
}

.play {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 2px solid $color-white;
  border-radius: 50%;
  bottom: 50%;
  right: 50%;
  margin: 0 -15px -15px 0;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0.8;
  .icon {
    cursor: pointer;
    position: absolute;
    color: $color-white;
    top: 5px;
  }
  .icon-play {
    left: 6px;
  }
  .icon-pause {
    left: 5px;
  }
}

.body-right {
  margin-left: 90px;
  height: 90px;
  padding: 10px 7px 0;
}

.info {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 22px;
  margin: 0 0 35px 5px;
}

.controller {
  display: flex;
}

.controller-left {
  touch-action: none;
  margin: 0 0 0 5px;
  padding: 6px 0;
  flex: 1;
}

.controller-right {
  position: relative;
  right: 0;
  bottom: 4px;
  height: 17px;
  padding-left: 7px;
  .icon {
    cursor: pointer;
    position: relative;
    top: 3px;
    transition: color 0.3s;
  }
}

.bar {
  position: relative;
  height: 2px;
  width: 100%;
  background: #cdcdcd;
}

.controller-left:hover {
  .bar-thumb {
    opacity: 1;
  }
}

.bar-thumb {
  opacity: 0;
  transition: opacity 0.5s;
  position: absolute;
  margin-right: -4px;
  right: 0;
  top: -3px;
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 50%;
}

.bar-played,
.bar-loaded {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  height: 2px;
}

.bar-loaded {
  background: #aaa;
  transition: width 0.3s;
}

.volume {
  position: relative;
  display: inline-block;
  &:hover,
  &.active {
    .volume-controller {
      height: 50px;
    }
    .volume-bar {
      height: 45px;
    }
  }
}

.volume-controller {
  touch-action: none;
  height: 0;
  position: absolute;
  bottom: 15px;
  right: -5px;
  width: 26px;
  overflow: hidden;
  transition: height 0.3s;
}

.volume-bar {
  position: relative;
  width: 5px;
  height: 0;
  margin: 0 auto;
  border-radius: 2.5px;
  overflow: hidden;
  transition: height 0.3s;
}

.volume-bar-fill {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 5px;
}

.list {
  @include overflow-auto(y);
  max-height: 150px;
  border: 1px solid;
  border-top: none;
}

.list-item {
  position: relative;
  height: 32px;
  line-height: 31px;
  padding: 0 15px;
  font-size: 12px;
  border-top: 1px solid;
  margin: 0;
  transition: background-color 0.3s;
  &:first-child {
    border-top: none;
  }
}

.list-idx {
  margin-right: 12px;
}

.list-artist {
  float: right;
}

@each $theme in ('light', 'dark') {
  .theme-#{$theme} {
    .body-left {
      @include theme-var(background-color, color-primary, $theme);
    }
    .body {
      @include theme-var(border-color, color-border, $theme);
    }
    .list {
      @include theme-var(border-color, color-border, $theme);
    }
    .info {
      @include theme-var(color, color-text, $theme);
    }
    .controller-right {
      @include theme-var(color, color-text-secondary, $theme);
      .icon:hover {
        @include theme-var(color, color-text, $theme);
      }
    }
    .bar-thumb {
      @include theme-var(background-color, color-primary, $theme);
    }
    .bar-played {
      @include theme-var(background-color, color-primary, $theme);
    }
    .volume-bar {
      @include theme-var(background-color, color-fill-secondary, $theme);
    }
    .volume-bar-fill {
      @include theme-var(background-color, color-primary, $theme);
    }
    .list-item {
      @include theme-vars(
        (
          border-top-color: color-border,
          color: color-text,
        ),
        $theme
      );
      &.active,
      &:hover {
        @include theme-var(background-color, color-fill-secondary, $theme);
      }
      &.active {
        @include theme-var(color, color-primary, $theme);
      }
    }
  }
}
