@import '../share/variable';
@import '../share/mixin';

.luna-music-player {
  @include component();
  min-width: 375px;
  font-family: $font-family;
  box-shadow: $box-shadow;
  background: $background-color;
  font-size: 14px;
  cursor: default;
  &.theme-dark {
    box-shadow: $box-shadow-dark;
    background-color: $background-color-dark;
  }
}

.body-left {
  background: $primary-color;
  width: 90px;
  height: 90px;
  float: left;
}

.cover {
  position: relative;
  background-size: cover;
  background-position: 50%;
}

.play {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 2px solid $select-foreground-color;
  border-radius: 50%;
  bottom: 50%;
  right: 50%;
  margin: 0 -15px -15px 0;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0.8;
  .icon {
    cursor: pointer;
    position: absolute;
    color: $select-foreground-color;
    top: 5px;
  }
  .icon-play {
    left: 7px;
  }
  .icon-pause {
    left: 5px;
  }
}

.body-right {
  margin-left: 90px;
  height: 90px;
  padding: 10px 7px 0;
  border-bottom: 1px solid $border-color;
}

.info {
  height: 22px;
  margin: 0 0 35px 5px;
  color: $foreground-color;
}

.controller {
  display: flex;
}

.controller-left {
  touch-action: none;
  margin: 0 0 0 5px;
  padding: 6px 0;
  flex: 1;
}

.controller-right {
  position: relative;
  right: 0;
  bottom: 4px;
  height: 17px;
  color: #999;
  padding-left: 7px;
  .icon {
    cursor: pointer;
    position: relative;
    top: 3px;
    transition: color 0.3s;
    &:hover {
      color: #000;
    }
  }
}

.bar {
  position: relative;
  height: 2px;
  width: 100%;
  background: #cdcdcd;
}

.controller-left:hover {
  .bar-thumb {
    opacity: 1;
  }
}

.bar-thumb {
  opacity: 0;
  transition: opacity 0.5s;
  position: absolute;
  margin-right: -4px;
  right: 0;
  top: -3px;
  width: 8px;
  height: 8px;
  display: inline-block;
  background: $primary-color;
  border-radius: 50%;
}

.bar-played,
.bar-loaded {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  height: 2px;
}

.bar-loaded {
  background: #aaa;
  transition: width 0.3s;
}

.bar-played {
  background: $primary-color;
}

.volume {
  position: relative;
  display: inline-block;
  &:hover,
  &.active {
    .volume-controller {
      height: 50px;
    }
    .volume-bar {
      height: 45px;
    }
  }
}

.volume-controller {
  touch-action: none;
  height: 0;
  position: absolute;
  bottom: 15px;
  right: -5px;
  width: 26px;
  overflow: hidden;
  transition: height 0.3s;
}

.volume-bar {
  position: relative;
  width: 5px;
  height: 0;
  background: #aaa;
  margin: 0 auto;
  border-radius: 2.5px;
  overflow: hidden;
  transition: height 0.3s;
}

.volume-bar-fill {
  background: $primary-color;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 5px;
}

.list {
  @include overflow-auto(y);
  max-height: 150px;
}

.list-item {
  position: relative;
  height: 32px;
  line-height: 32px;
  padding: 0 15px;
  font-size: 12px;
  border-top: 1px solid $border-color;
  margin: 0;
  transition: background 0.3s;
  color: $foreground-color;
  &:first-child {
    border-top: none;
  }
  &.active,
  &:hover {
    background: $darker-background-color;
  }
  &.active {
    color: $primary-color;
  }
}

.list-idx {
  margin-right: 12px;
}

.list-artist {
  float: right;
}

.theme-dark {
  .body-right {
    border-bottom-color: $border-color-dark;
  }
  .info {
    color: $foreground-color-dark;
  }
  .list-item {
    border-top-color: $border-color-dark;
    color: $foreground-color-dark;
  }
}
