@import '../share/variable.scss';

.luna-menu {
  font-family: $font-family;
  position: absolute;
  padding: 4px 0;
  background: $darker-background-color;
  user-select: none;
  box-shadow: $box-shadow;
  color: $foreground-color;
  border: 1px solid $border-color;
  padding: 4px 0;
  box-sizing: border-box;
  z-index: 4000;
  overflow-y: auto;
  * {
    box-sizing: border-box;
  }
}

.glass-pane {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 3000;
}

.item {
  display: flex;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  padding: 2px 7px 2px 8px;
  white-space: nowrap;
  width: 100%;
  font-size: 12px;
  &.active {
    color: $select-foreground-color;
    background: $primary-color;
  }
  .icon-arrow-right {
    margin-left: auto;
    font-size: 12px;
    position: relative;
    top: 1px;
  }
}

.separator {
  height: 1px;
  background-color: $border-color;
  margin: 5px 1px;
}
