@use '../share/mixin' as mixin;
@use '../share/theme' as theme;

.luna-menu {
  position: absolute;
  padding: 4px 0;
  box-shadow: theme.$box-shadow;
  border: 1px solid theme.$color-border;
  padding: 4px 0;
  z-index: 4000;
  overflow-y: auto;
  @include mixin.component();
}

.glass-pane {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 3000;
}

.item {
  display: flex;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  padding: 2px 7px 2px 8px;
  white-space: nowrap;
  width: 100%;
  font-size: 12px;
  &.active {
    color: theme.$color-white;
    background: theme.$color-primary;
  }
  .icon-caret-right {
    margin-left: auto;
    padding-left: 10px;
    font-size: 12px;
    position: relative;
    top: 1px;
  }
}

.separator {
  height: 1px;
  background-color: theme.$color-border;
  margin: 5px 1px;
}

.theme-dark {
  border-color: theme.$color-border-dark;
  .separator {
    background-color: theme.$color-border-dark;
  }
}
