@import '../share/mixin';

.luna-qrcode-generator {
  @include component();
  border: 1px solid $color-border;
  display: flex;
  height: 250px;
}

.controller {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.setting {
  flex-grow: 1;
}

.input {
  height: 25%;
  textarea {
    width: 100%;
    height: 100%;
    resize: none;
  }
}

.preview {
  width: 25%;
  .qrcode {
    text-align: center;
  }
}

.theme-dark {
  border-color: $color-border-dark;
}
