@use '../share/mixin' as mixin;
@use '../share/theme' as theme;

.luna-notification {
  position: relative;
  padding: 20px;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  @include mixin.component();
  & {
    background: transparent;
  }
  &.full {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.item {
  display: flex;
  border: 1px solid theme.$color-border;
  padding: 10px 16px;
  color: theme.$color-text;
  align-items: center;
  background: theme.$color-bg-container;
}

.lower {
  margin-top: 16px;
}

.upper {
  margin-bottom: 16px;
}

.icon-container {
  margin-right: 8px;
  color: #fff;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  text-align: center;
  line-height: 16px;
  &.info {
    background: theme.$color-info;
    .icon {
      position: relative;
      top: -2px;
      font-size: 12px;
    }
  }
  &.success {
    background: theme.$color-success;
    .icon {
      position: relative;
      top: -1px;
      font-size: 12px;
    }
  }
  &.warning {
    position: relative;
    top: -2px;
    color: theme.$color-warning;
    .icon {
      font-size: 14px;
    }
  }
  &.error {
    position: relative;
    top: -1px;
    color: theme.$color-error;
    .icon {
      font-size: 14px;
    }
  }
}

.theme-dark {
  .item {
    border-color: theme.$color-border-dark;
    box-shadow: theme.$box-shadow-dark;
    color: theme.$color-text-dark;
    background: theme.$color-bg-container-dark;
  }
  .icon-container {
    &.info {
      background: theme.$color-info-dark;
    }
    &.success {
      background: theme.$color-success-dark;
    }
    &.warning {
      color: theme.$color-warning-dark;
    }
    &.error {
      color: theme.$color-error-dark;
    }
  }
}
