@import '../share/mixin';
@import '../share/theme';

.luna-notification {
  @include component();
  position: relative;
  padding: 20px;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: transparent;
  &.full {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.item {
  display: flex;
  border: 1px solid $color-border;
  padding: 10px 16px;
  color: $color-text;
  align-items: center;
  background: $color-bg-container;
}

.lower {
  margin-top: 16px;
}

.upper {
  margin-bottom: 16px;
}

.icon-container {
  margin-right: 8px;
  color: #fff;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  text-align: center;
  line-height: 16px;
  &.info {
    background: $color-info;
    .icon {
      position: relative;
      top: -2px;
      font-size: 12px;
    }
  }
  &.success {
    background: $color-success;
    .icon {
      position: relative;
      top: -1px;
      font-size: 12px;
    }
  }
  &.warning {
    position: relative;
    top: -2px;
    color: $color-warning;
    .icon {
      font-size: 14px;
    }
  }
  &.error {
    position: relative;
    top: -1px;
    color: $color-error;
    .icon {
      font-size: 14px;
    }
  }
}

.theme-dark {
  .item {
    border-color: $color-border-dark;
    box-shadow: $box-shadow-dark;
    color: $color-text-dark;
    background: $color-bg-container-dark;
  }
  .icon-container {
    &.info {
      background: $color-info-dark;
    }
    &.success {
      background: $color-success-dark;
    }
    &.warning {
      color: $color-warning-dark;
    }
    &.error {
      color: $color-error-dark;
    }
  }
}
