@import '../share/mixin';
@import '../share/variable';

.luna-toolbar {
  @include component();
  height: 31px;
  display: flex;
  white-space: nowrap;
  overflow-x: hidden;
  border-bottom: 1px solid $border-color;
}

.item {
  display: flex;
  margin: 0 5px;
}

.item-separator {
  background: $border-color;
  width: 1px;
  height: 22px;
  margin-top: 4px;
}

.item-select {
  @include select();
  margin-top: 4px;
  margin-bottom: 4px;
  select {
    max-width: 200px;
  }
}

.item-text {
  line-height: 30px;
}

.item-input {
  input {
    @include input();
    height: 22px;
    margin-top: 4px;
    margin-bottom: 4px;
    width: 120px;
  }
}

.item-number {
  input[type='number'] {
    @include input();
    width: 60px;
    padding: 2px;
    height: 22px;
    margin-top: 4px;
    margin-bottom: 4px;
  }
}

.item-button {
  button {
    @include button();
    color: $color-text;
    height: 22px;
    margin-top: 4px;
    margin-bottom: 4px;
  }
}

.item-space {
  flex-grow: 1;
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}

.theme-dark {
  border-bottom-color: $border-color-dark;
  .item-separator {
    background: $border-color-dark;
  }
  .item-button {
    button {
      @include button(true);
      color: $color-text-dark;
    }
  }
  .item-select {
    @include select(true);
  }
  .item-input {
    input {
      @include input(true);
    }
  }
  .item-number {
    input[type='number'] {
      @include input(true);
    }
  }
}
