@use '../share/mixin' as *;
@use '../share/theme' as *;

.luna-toolbar {
  height: 31px;
  display: flex;
  white-space: nowrap;
  overflow-x: hidden;
  border-bottom: 1px solid;
  @include component(true);
  & {
    font-size: #{$font-size-s-m}px;
  }
}

.item {
  display: flex;
  margin: 0 #{$margin-x-x-s}px;
}

.item-separator {
  width: 1px;
  height: 22px;
  margin-top: 4px;
}

.item-select {
  @include select();
  margin-top: 4px;
  margin-bottom: 4px;
  select {
    font-size: #{$font-size-s-m}px;
    max-width: 200px;
  }
}

.item-text {
  line-height: 30px;
}

.item-input {
  input {
    @include input();
    height: 22px;
    margin-top: 4px;
    margin-bottom: 4px;
    width: 120px;
  }
}

.item-number {
  input[type='number'] {
    @include input();
    width: 60px;
    padding: 2px;
    height: 22px;
    margin-top: 4px;
    margin-bottom: 4px;
  }
}

.item-button {
  button {
    display: flex;
    align-items: center;
    font-size: #{$font-size-s-m}px;
    padding: 0 2px;
    height: 22px;
    margin-top: 4px;
    margin-bottom: 4px;
    border: none;
    background: transparent;
    border: 1px solid transparent;
    border-radius: #{$border-radius-x-s}px;
  }
}

.item-space {
  flex-grow: 1;
}

.item-checkbox {
  align-items: center;
  input {
    @include checkbox();
  }
  label {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    * {
      margin: 0;
    }
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}

@each $theme in ('light', 'dark') {
  .theme-#{$theme} {
    @include theme-var(border-bottom-color, color-border, $theme);
    .item-separator {
      @include theme-var(background-color, color-border, $theme);
    }
    .item-button {
      button {
        @include theme-var(color, color-text, $theme);
        &:hover,
        &.hover {
          @include theme-vars(
            (
              background-color: color-fill-secondary-dark,
              border-color: color-border,
            ),
            $theme
          );
        }
        &:active,
        &.active {
          @include theme-vars(
            (
              border-color: color-border,
              background-color: color-fill-tertiary,
            ),
            $theme
          );
        }
      }
    }
    .item-select {
      @include select-theme($theme);
    }
    .item-input {
      input {
        @include input-theme($theme);
      }
    }
    .item-number {
      input[type='number'] {
        @include input-theme($theme);
      }
    }
    .item-checkbox {
      input {
        @include checkbox-theme($theme);
      }
    }
  }
}
