@use '../share/mixin' as mixin;

.luna-toolbar {
  @include mixin.component();
  height: 31px;
  display: flex;
  white-space: nowrap;
  overflow-x: hidden;
  font-size: #{$font-size-s-m}px;
  border-bottom: 1px solid $color-border;
}

.item {
  display: flex;
  margin: 0 #{$margin-x-x-s}px;
}

.item-separator {
  background: $color-border;
  width: 1px;
  height: 22px;
  margin-top: 4px;
}

.item-select {
  @include select();
  margin-top: 4px;
  margin-bottom: 4px;
  select {
    font-size: #{$font-size-s-m}px;
    max-width: 200px;
  }
}

.item-text {
  line-height: 30px;
}

.item-input {
  input {
    @include input();
    height: 22px;
    margin-top: 4px;
    margin-bottom: 4px;
    width: 120px;
  }
}

.item-number {
  input[type='number'] {
    @include input();
    width: 60px;
    padding: 2px;
    height: 22px;
    margin-top: 4px;
    margin-bottom: 4px;
  }
}

.item-button {
  button {
    display: flex;
    align-items: center;
    font-size: #{$font-size-s-m}px;
    padding: 0 2px;
    color: $color-text;
    height: 22px;
    margin-top: 4px;
    margin-bottom: 4px;
    border: none;
    background: transparent;
    border: 1px solid transparent;
    border-radius: #{$border-radius-x-s}px;
    &:hover,
    &.hover {
      background: $color-fill-tertiary;
      border-color: $color-border;
    }
    &:active,
    &.active {
      border-color: $color-border;
      background: $color-fill-secondary;
    }
  }
}

.item-space {
  flex-grow: 1;
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}

.theme-dark {
  border-bottom-color: $color-border-dark;
  .item-separator {
    background: $color-border-dark;
  }
  .item-button {
    button {
      color: $color-text-dark;
      &:hover,
      &.hover {
        background: $color-fill-secondary-dark;
        border-color: $color-border-dark;
      }
      &:active,
      &.active {
        border-color: $color-border-dark;
        background: $color-fill-tertiary-dark;
      }
    }
  }
  .item-select {
    @include select(true);
  }
  .item-input {
    input {
      @include input(true);
    }
  }
  .item-number {
    input[type='number'] {
      @include input(true);
    }
  }
}
