@use '../share/mixin' as mixin;

.luna-painter {
  @include mixin.component();
  position: relative;
  padding-left: 40px;
  padding-top: 30px;
  width: 100%;
  height: 600px;
  border: 1px solid $color-border;
  outline: none;
}

.toolbar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 30px;
  border-bottom: 1px solid $color-border;
  overflow: hidden;
  .luna-toolbar {
    border-bottom: none;
  }
}

.tool-box {
  position: absolute;
  left: 0;
  top: 30px;
  width: 40px;
  height: calc(100% - 30px);
  border-right: 1px solid $color-border;
}

.tool {
  width: 30px;
  margin: 5px auto;
  text-align: center;
  border-radius: 2px;
  border: 1px solid transparent;
  padding: 2px 0;
  &:hover {
    background: $color-fill-tertiary;
    border-color: $color-border;
  }
  &.selected {
    background: $color-fill-secondary;
    border-color: $color-border;
  }
  .icon {
    position: relative;
    top: 2px;
  }
}

.palette {
  width: 34px;
  height: 50px;
  margin: 3px auto;
}

.palette-head {
  display: flex;
  span {
    flex: 1;
    font-size: 12px;
    text-align: center;
  }
}

.palette-body {
  position: relative;
  margin-top: 4px;
}

.palette-foreground,
.palette-background {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  input {
    width: 100%;
    height: 100%;
    padding: 0;
    border: 1px solid $color-white;
    &::-webkit-color-swatch-wrapper {
      width: 100%;
      height: 100%;
      padding: 0;
      border: none;
    }
    &::-webkit-color-swatch {
      width: 100%;
      height: 100%;
      padding: 0;
      border: none;
    }
  }
}

.palette-foreground {
  left: 2px;
  top: 0;
  z-index: 5;
}

.palette-background {
  left: 12px;
  top: 10px;
}

.viewport-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: none;
}

.viewport {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.viewport-overlay {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  overflow: hidden;
}

.cursor {
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
  .icon {
    color: #000;
    text-shadow: -1px -1px 0 $color-white, 1px -1px 0 $color-white,
      -1px 1px 0 $color-white, 1px 1px 0 $color-white;
  }
}

.body {
  display: flex;
  width: 100%;
  height: 100%;
}

.canvas-wrapper {
  margin: auto;
  box-shadow: $box-shadow;
}

.canvas-container {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC');
  font-size: 0;
}

.main-canvas {
  image-rendering: pixelated;
}

.theme-dark {
  color-scheme: dark;
  border-color: $color-border-dark;
  .toolbar,
  .tool-box {
    border-color: $color-border-dark;
  }
  .tool {
    &:hover {
      background: $color-fill-tertiary-dark;
      border-color: $color-border-dark;
    }
    &.selected {
      background: $color-fill-secondary-dark;
      border-color: $color-border-dark;
    }
  }
}
