@use '../share/mixin' as mixin;
@use '../share/theme' as theme;

.luna-logcat {
  padding-left: #{theme.$padding-x-x-s}px;
  unicode-bidi: embed;
  position: relative;
  overflow: auto;
  line-height: #{theme.$line-height-l-g}em;
  border: 1px solid theme.$color-border;
  white-space: pre;
  will-change: transform;
  transform: translate3d(0, 0, 0);
  @include mixin.component();
  & {
    user-select: text;
    font-family: theme.$font-family-code;
  }
  &.wrap-long-lines {
    white-space: pre-wrap;
    word-break: break-all;
    .message {
      display: inline;
    }
  }
}

.entry {
  font-size: #{theme.$font-size-s-m}px;
}

.date,
.pid,
.tag,
.package,
.priority {
  display: inline-block;
  white-space: nowrap;
  vertical-align: top;
}

.message {
  display: inline-block;
}

.wrap-long-lines .message {
  display: inline;
}

.date {
  margin-right: #{theme.$margin-x-x-s}px;
}

.pid {
  width: 100px;
  text-align: center;
}

.tag,
.package {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 150px;
}

.priority {
  padding: 0 #{theme.$padding-x-s}px;
}

.W {
  .priority {
    background: theme.$color-warning-text;
  }
  .message {
    color: theme.$color-warning-text;
  }
}

.E {
  .priority {
    background: theme.$color-error-text;
  }
  .message {
    color: theme.$color-error-text;
  }
}

.D {
  .priority {
    background: theme.$color-success-text;
  }
}

.I {
  .priority {
    background: theme.$color-info-text;
  }
}

.theme-dark {
  border-color: theme.$color-border-dark;
  .W {
    .priority {
      background: theme.$color-warning-text-dark;
    }
    .message {
      color: theme.$color-warning-text-dark;
    }
  }

  .E {
    .priority {
      background: theme.$color-error-text-dark;
    }
    .message {
      color: theme.$color-error-text-dark;
    }
  }

  .D {
    .priority {
      background: theme.$color-success-text-dark;
    }
  }

  .I {
    .priority {
      background: theme.$color-info-text-dark;
    }
  }
}
