@import '../share/variable';
@import '../share/mixin';

.luna-shader-toy-player {
  @include component();
  background: #000;
  width: 100%;
  height: 100%;
  touch-action: none;
  position: relative;
}

@include controller('shader-toy-player');

.canvas {
  width: 100%;
  height: 100%;
  canvas {
    width: 100%;
    height: 100%;
  }
}

.reset,
.play,
.volume {
  margin-right: 8px;
  height: 100%;
  display: inline-block;
  vertical-align: top;
}

.time,
.fps-button,
.resolution {
  color: #eee;
  font-size: $font-size-s;
  line-height: 38px;
}

.fps-button {
  cursor: pointer;
}

.fps {
  opacity: 0;
  position: absolute;
  font-size: $font-size-s;
  top: 0;
  right: 0;
  padding: 4px 8px;
  background: rgba(0, 0, 0, 0.5);
  color: $select-foreground-color;
  transition: opacity 0.3s;
  &.active {
    opacity: 1;
  }
}
