.luna-gallery {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  .luna-carousel-indicators {
    display: none;
  }
  &:hover {
    .toolbar {
      opacity: 1;
    }
  }
}

.image {
  width: 100%;
  height: 100%;
  position: relative;
  img {
    position: absolute;
    left: 0;
    top: 0;
  }
}

.title {
  color: #eee;
  background: rgba(0, 0, 0, 0.45);
  width: 100%;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 10px 40px;
}

.hidden {
  display: none;
}

.toolbar {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  color: #eee;
  background: rgba(0, 0, 0, 0.45);
  transition: opacity 0.3s;
  .button {
    float: right;
    cursor: pointer;
    padding: 5px 10px 5px 5px;
    &:hover {
      color: #fff;
    }
    span {
      font-size: 24px;
    }
  }
}
