@use '../share/mixin' as *;
@use '../share/theme' as *;

.luna-gallery {
  position: relative;
  @include component();
  & {
    background: black;
  }
  &.full {
    position: fixed;
    background: rgba(0, 0, 0, 50%);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
  }
  .luna-toolbar {
    height: 30px;
    border-bottom: none;
  }
  .luna-carousel {
    background: transparent;
  }
  .luna-carousel-indicators {
    display: none;
  }
  .luna-image-viewer {
    border: none;
  }
  &:hover {
    .toolbar {
      opacity: 1;
    }
  }
}

.no-scrollbar {
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  position: relative;
  img {
    position: absolute;
    left: 0;
    top: 0;
  }
  .viewer {
    width: 100%;
    height: 100%;
    background: transparent;
  }
}

.title {
  color: #eee;
  background: rgba(0, 0, 0, 0.45);
  width: 100%;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 10px 40px;
}

.toolbar {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  transition: opacity 0.3s;
}

@each $theme in ('light', 'dark') {
  .theme-#{$theme} {
    .toolbar.luna-toolbar {
      @include theme-var(background-color, color-bg-container, $theme);
    }
  }
}
