@use '../share/mixin' as mixin;
@use '../share/theme' as theme;

.luna-gallery {
  position: relative;
  @include mixin.component();
  & {
    background: black;
  }
  &.full {
    position: fixed;
    background: rgba(0, 0, 0, 50%);
    left: 0;
    top: 0;
    z-index: 10;
    width: 100% !important;
    height: 100% !important;
    max-width: 100% !important;
  }
  .luna-carousel {
    background: transparent;
  }
  .luna-toolbar {
    background: rgba(0, 0, 0, 0.45) !important;
    border-bottom: none;
  }
  .luna-carousel-indicators {
    display: none;
  }
  .luna-image-viewer {
    border: none;
  }
  &:hover {
    .toolbar {
      opacity: 1;
    }
  }
}

.no-scrollbar {
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  position: relative;
  img {
    position: absolute;
    left: 0;
    top: 0;
  }
  .viewer {
    width: 100%;
    height: 100%;
    background: transparent;
  }
}

.title {
  color: #eee;
  background: rgba(0, 0, 0, 0.45);
  width: 100%;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 10px 40px;
}

.toolbar {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  transition: opacity 0.3s;
}
