@import '../share/mixin';

.luna-object-viewer {
  @include overflow-auto(x);
  overflow-y: hidden;
  cursor: default;
  font-family: $font-family-code;
  font-size: #{$font-size-s-m}px;
  line-height: 1.2;
  min-height: 100%;
  color: #333;
  list-style: none !important;
  ul {
    list-style: none !important;
    padding: 0 !important;
    padding-left: 12px !important;
    margin: 0 !important;
  }
  li {
    position: relative;
    white-space: nowrap;
    line-height: 16px;
    min-height: 16px;
  }
  & > li > .key {
    display: none;
  }
  span {
    position: static !important;
  }
  li .collapsed ~ .close:before {
    color: #999;
  }
}

.array .object .key {
  display: inline;
}

.null {
  color: #5e5e5e;
}

.string,
.regexp {
  color: #c41a16;
}

.number {
  color: #1c00cf;
}

.boolean {
  color: #0d22aa;
}

.special {
  color: #5e5e5e;
}

.key,
.key-lighter {
  color: #881391;
}

.key-lighter {
  opacity: 0.6;
}

.key-special {
  color: #5e5e5e;
}

.expanded .icon,
.collapsed .icon {
  position: absolute !important;
  left: -12px;
  color: #727272;
  font-size: 12px;
}

.icon-caret-right {
  top: 0;
}

.icon-caret-down {
  top: 1px;
}

.expanded > .icon-caret-down {
  display: inline;
}

.expanded > .icon-caret-right {
  display: none;
}

.collapsed > .icon-caret-down {
  display: none;
}

.collapsed > .icon-caret-right {
  display: inline;
}

.hidden ~ ul {
  display: none;
}

.theme-dark {
  color: #fff;
  .null,
  .special {
    color: #a1a1a1;
  }
  .string,
  .regexp {
    color: #f28b54;
  }
  .number,
  .boolean {
    color: #9980ff;
  }
  .key,
  .key-lighter {
    color: #5db0d7;
  }
}
