.luna-object-viewer {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  cursor: default;
  font-size: 12px;
  line-height: 1.2;
  min-height: 100%;
  color: #333;
  list-style: none !important;
  & > li > .key {
    display: none;
  }
  & > li {
    padding: 10px 0;
  }
  ul {
    list-style: none !important;
  }
  ul {
    padding: 0 !important;
    padding-left: 12px !important;
    margin: 0 !important;
  }
  li {
    position: relative;
    white-space: nowrap;
    line-height: 16px;
    min-height: 16px;
  }
  span {
    position: static !important;
  }
  li .collapsed ~ .close:before {
    color: #999;
  }
}
.array .object .key {
  display: inline;
}
.null {
  color: #5e5e5e;
}
.string,
.regexp {
  color: #c41a16;
}
.number {
  color: #1c00cf;
}
.boolean {
  color: #0d22aa;
}
.special {
  color: #5e5e5e;
}
.key,
.key-lighter {
  color: #881391;
}
.key-lighter {
  opacity: 0.6;
}
.expanded .icon, .collapsed .icon {
  position: absolute!important;
  left: -12px;
  color: #727272;
  font-size: 12px;
}
.icon-arrow-right {
  top: 1px;
}
.icon-arrow-down {
  top: 2px;
}
.expanded > .icon-arrow-down {
  display: inline;
}
.expanded > .icon-arrow-right {
  display: none;
}
.collapsed > .icon-arrow-down {
  display: none;
}
.collapsed > .icon-arrow-right {
  display: inline;
}
.hidden ~ ul {
  display: none;
}
