@use '../share/mixin' as mixin;

.luna-keyboard {
  @include mixin.component();
  border: 1px solid $color-border;
  background: #f2f2f2;
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 3px;
}

.row {
  display: flex;
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
  padding-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  li[data-key] {
    background: #151515;
    color: rgb(200, 200, 200);
    text-align: center;
    font-size: 12px;
    border-radius: 8px;
    border: 1px solid #3a3a3a;
    transition: all 0.2s;
    user-select: none;
    cursor: pointer;
    position: relative;
    &:active,
    &.pressed {
      color: #fff;
      background-color: $color-primary;
    }
  }
  li {
    ul {
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
    }
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin-right: 5px;
    span {
      line-height: 31px;
      flex-grow: 1;
      &:only-child {
        line-height: 62px;
      }
    }
    &[data-key='27'] {
      flex-grow: 2;
    }
    &[data-key='8'],
    &[data-key='13'] {
      span {
        text-align: right;
        margin-right: 5px;
      }
    }
    &[data-key='9'],
    &[data-key='20'],
    &[data-key='17'],
    &[data-key='91'],
    &[data-key='93'],
    &[data-key='18'] {
      span {
        text-align: left;
        margin-left: 5px;
      }
    }
    &[data-key='20'] {
      &.active {
        span:first-child {
          &::after {
            content: '';
            position: absolute;
            left: 5px;
            top: 10px;
            width: 6px;
            height: 6px;
            background: #fff;
            border-radius: 3px;
          }
        }
      }
    }
    &[data-key='32'] {
      flex-grow: 8;
    }
    &[data-key='38'],
    &[data-key='40'] {
      margin-right: 0;
      span {
        line-height: 30px;
      }
    }
  }
}

.row:nth-child(4) {
  li:last-child {
    flex-grow: 2;
    span {
      text-align: right;
      margin-right: 5px;
    }
  }
  li:first-child {
    flex-grow: 2;
    span {
      text-align: left;
      margin-left: 5px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .row {
    li {
      span {
        line-height: 25px;
        &:only-child {
          line-height: 50px;
        }
      }
    }
    li[data-key='37'],
    li[data-key='39'] {
      display: none;
    }
  }
  .row:nth-child(5) {
    li:nth-child(8) {
      display: none;
    }
  }
}

.theme-dark {
  border-color: $color-border-dark;
}
