@use '../share/mixin' as mixin;
@use '../share/theme' as theme;

.luna-box-model {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  @include mixin.component();
  & {
    font-size: #{theme.$font-size-s-m}px;
  }
}

.label {
  position: absolute;
  margin-left: 3px;
  padding: 0 2px;
}
.top,
.left,
.right,
.bottom {
  display: inline-block;
}
.left,
.right {
  vertical-align: middle;
}
.position,
.margin,
.border,
.padding,
.content {
  position: relative;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 3px;
  margin: 3px;
  color: theme.$color-text;
  background: theme.$color-bg-container;
}
.position {
  border: 1px grey dotted;
}
.margin {
  border: 1px dashed;
  &.highlighted {
    color: theme.$color-text !important;
    background: rgba(246, 178, 107, 0.66) !important;
  }
}
.border {
  border: 1px #000 solid;
  &.highlighted {
    color: theme.$color-text !important;
    background: rgba(255, 229, 153, 0.66) !important;
  }
}
.padding {
  border: 1px grey dashed;
  &.highlighted {
    color: theme.$color-text !important;
    background: rgba(147, 196, 125, 0.55) !important;
  }
}
.content {
  border: 1px grey solid;
  min-width: 100px;
  &.highlighted {
    color: theme.$color-text !important;
    background: rgba(111, 168, 220, 0.66) !important;
  }
}

.theme-dark {
  .position,
  .margin,
  .border,
  .padding,
  .content {
    color: theme.$color-text-dark;
    background: theme.$color-bg-container-dark;
  }
  .border {
    border-color: grey;
  }
}
