@use '../share/mixin' as mixin;
@use '../share/theme' as theme;

.luna-data-grid {
  position: relative;
  border: 1px solid theme.$color-border;
  overflow: hidden;
  outline: none;
  @include mixin.component();
  & {
    font-size: #{theme.$font-size-s-m}px;
  }

  table {
    width: 100%;
    height: 100%;
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;
  }

  th,
  td {
    padding: 1px 4px;
    border-left: 1px solid theme.$color-border;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    &:first-child {
      border-left: none;
    }
  }

  th {
    font-weight: normal;
    border-bottom: 1px solid theme.$color-border;
    text-align: left;
    background: theme.$color-fill-secondary;
    position: relative;
    &.sortable {
      padding-right: theme.$padding-s-m;
      &:hover,
      &:active {
        background: #e6e6e6;
      }
    }
    .icon-caret-down,
    .icon-caret-up {
      font-size: 12px;
      position: absolute;
      display: none;
      top: 6px;
      right: 2px;
    }
  }

  td {
    height: 20px;
    cursor: default;
    user-select: text;
  }

  &:focus {
    .node.selected {
      color: #fff;
      background: #1a73e8;
    }
  }

  &:focus.theme-dark {
    .node.selected {
      background: #0e639c;
    }
  }
}

.header-container,
.data-container {
  overflow: hidden;
}

.header-container {
  height: 21px;
}

.data-container {
  overflow-y: auto;
  .node.selected {
    background: #ddd;
  }
  tr:nth-child(even) {
    background: #f2f7fd;
  }
}

.filler-row {
  td {
    height: auto;
  }
}

.resizer {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 5px;
  z-index: 500;
  touch-action: none;
  cursor: col-resize;
}

.resizing {
  cursor: col-resize !important;
  .luna-data-grid * {
    cursor: col-resize !important;
  }
}

.theme-dark {
  border-color: theme.$color-border-dark;
  th,
  td {
    border-color: theme.$color-border-dark;
  }
  th {
    background: theme.$color-fill-secondary-dark;
    &.sortable {
      &:hover {
        background: #303030;
      }
    }
  }
  .data-container {
    .node.selected {
      background: #393939;
    }
    tr:nth-child(even) {
      background: #0b2544;
    }
  }
}
