@import '../share/mixin';

.luna-data-grid {
  @include component();
  position: relative;
  font-size: $font-size-s;
  border: 1px solid $border-color;
  overflow: hidden;
  outline: none;

  &.theme-dark {
    color: $foreground-color-dark;
    background: $background-color-dark;
    border-color: $border-color-dark;
  }

  table {
    width: 100%;
    height: 100%;
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;
  }

  th,
  td {
    padding: 1px 4px;
    border-left: 1px solid $border-color;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    &:first-child {
      border-left: none;
    }
  }

  th {
    font-weight: normal;
    border-bottom: 1px solid $border-color;
    text-align: left;
    background: $darker-background-color;
    &.sortable {
      &:hover,
      &:active {
        background: #e6e6e6;
      }
    }
  }

  td {
    height: 20px;
    cursor: default;
    user-select: text;
  }

  &:focus {
    .node.selected {
      color: #fff;
      background: #1a73e8;
    }
  }

  &:focus.theme-dark {
    .node.selected {
      background: #0e639c;
    }
  }
}

.header-container,
.data-container {
  overflow: hidden;
}

.header-container {
  height: 21px;
}

.data-container {
  overflow-y: auto;
  .node.selected {
    background: #ddd;
  }
  tr:nth-child(even) {
    background: #f2f7fd;
  }
}

.filler-row {
  td {
    height: auto;
  }
}

.theme-dark {
  color-scheme: dark;
  th,
  td {
    border-color: $border-color-dark;
  }
  th {
    background: $darker-background-color-dark;
    &.sortable {
      &:hover {
        background: #303030;
      }
    }
  }
  .data-container {
    .node.selected {
      background: #393939;
    }
    tr:nth-child(even) {
      background: #0b2544;
    }
  }
}
