@use '../share/theme' as theme;

.luna-syntax-highlighter {
  &.theme-vs-dark {
    background: #1e1e1e;
    border-color: theme.$color-border-dark;
    color: #dcdcdc;
  }
  .string {
    color: #c51916;
  }
  .variable,
  .keyword {
    color: #ab0d90;
  }
  .attr,
  .title {
    color: #1a1aa8;
  }
  .comment {
    color: #007500;
  }
  .regexp {
    color: #c60401;
  }
  .number {
    color: #1c00d1;
  }
  .tag {
    color: #881280;
    .attr {
      color: #994500;
    }
    .string {
      color: #1a1aa6;
    }
  }
  .meta {
    color: #c0c0c0;
    .keyword {
      color: #c0c0c0;
    }
  }
  .attribute {
    color: #c80000;
  }
}

.theme-vs-dark {
  color-scheme: dark;
  .luna-text-viewer-copy,
  .luna-text-viewer-line-number {
    border-color: theme.$color-border-dark;
  }
  .luna-text-viewer-copy .luna-text-viewr-icon-check {
    color: theme.$color-success-dark;
  }
  .luna-text-viewer-copy {
    background-color: theme.$color-bg-container-dark;
  }
}

.theme-dark {
  .string {
    color: #f28b54;
  }
  .variable,
  .keyword {
    color: #9a7fd5;
  }
  .attr,
  .title {
    color: #d2c057;
  }
  .comment {
    color: #747474;
  }
  .regexp {
    color: #f28b54;
  }
  .number {
    color: #a1f7b5;
  }
  .tag {
    color: #5db0d7;
    .attr {
      color: #9bbbdc;
    }
    .string {
      color: #f29766;
    }
  }
  .attribute {
    color: #84f0ff;
  }
  .selector-class {
    color: #ffa34f;
  }
}

.theme-vs-dark {
  .keyword,
  .literal,
  .name,
  .symbol {
    color: #569cd6;
  }
  .link {
    color: #569cd6;
    text-decoration: underline;
  }
  .built_in,
  .type {
    color: #4ec9b0;
  }
  .class,
  .number {
    color: #b8d7a3;
  }
  .meta .string,
  .string {
    color: #d69d85;
  }
  .regexp,
  .template-tag {
    color: #9a5334;
  }
  .formula,
  .function,
  .params,
  .subst,
  .title {
    color: #dcdcdc;
  }
  .comment,
  .quote {
    color: #57a64a;
    font-style: italic;
  }
  .doctag {
    color: #608b4e;
  }
  .meta,
  .meta .keyword,
  .tag {
    color: #9b9b9b;
  }
  .template-variable,
  .variable {
    color: #bd63c5;
  }
  .attr,
  .attribute {
    color: #9cdcfe;
  }
  .section {
    color: gold;
  }
  .emphasis {
    font-style: italic;
  }
  .strong {
    font-weight: 700;
  }
  .bullet,
  .selector-attr,
  .selector-class,
  .selector-id,
  .selector-pseudo,
  .selector-tag {
    color: #d7ba7d;
  }
  .addition {
    background-color: #144212;
    display: inline-block;
    width: 100%;
  }
  .deletion {
    background-color: #600;
    display: inline-block;
    width: 100%;
  }
}
