@font-face {
  font-family: 'carousel-icon';
  src: url('data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAAS0AAsAAAAAB6wAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABHU1VCAAABCAAAAF8AAACMISAl9k9TLzIAAAFoAAAAPQAAAFZLxUkYY21hcAAAAagAAADNAAACZtHhG/9nbHlmAAACeAAAADcAAABAspuuX2hlYWQAAAKwAAAALgAAADZzbL4eaGhlYQAAAuAAAAAYAAAAJAFQANhobXR4AAAC+AAAABAAAAA8AZAAAGxvY2EAAAMIAAAAEAAAACAA0ADgbWF4cAAAAxgAAAAfAAAAIAEaABJuYW1lAAADOAAAASkAAAIWm5e+CnBvc3QAAARkAAAAUAAAAHLSrlg/eJxjYGRgYOBiMGCwY2BycfMJYeDLSSzJY5BiYGGAAJA8MpsxJzM9kYEDxgPKsYBpDiC2AdNMDGwMckCSGyzHCuSxA2keBl4GPqAYI9A2hDgHAyeQDxJlZGAGAHc1BlkAeJxjYGSQZpzAwMrAwFDH0AMkZaB0AgMngzEDAxMDKzMDVhCQ5prCcIBB9yMTwwkgVwhMMjAwgggAWykIawAAAHictZJBCsIwEEVfarW2tsWFS4+gh3JRtSAIIrjxQK5ce62eQP80sxARoQsnvEJ+k5nkZ4AxMBIrkUK4E7C4SQ29PqLo9ZSr5gvmUlLWbGg5cOTEmUuXPJ/6a2rzpoZe/YygLDaWbwMy5c1Vq6KmZKqTpcyYaHWiLZMveX5FNnA97kNeVHWJypszdgCGVv5flP334bMa8ztit904dovGycXW0SuycyqxdyxP61iFgyML9I4R65KToy7R20ZkDxdHPnUhYp3TJRGSF+37H7UAAAB4nGNgZACBdoalDKwMDPaM6ubq7NU8pqY8Dio8JiY8Dgwo8kBJcXbxdkduExPuFAeQAgD0+QhWAHicY2BkYGAA4nVtbJnx/DZfGbgZTgAFojgf72tA0EDQzrAUSHIwMIE4ADH5ClgAAHicY2BkYGA4wcAAJ9sZGBlQAT8ANiwCKXicY2AAghNQTCIAAFMMAZF4nGNgAAIBBgVcEAAW8AGxeJxjYGRgYOBnYGMA0QwMTEDMBYQMDP/BfAYACowBLQB4nGWQPW7CQBSEx2BIAlKCFCkps1UKIpmfkgNAT0GXwpi1MbK91npBossJcoQcIaeIcoIcKGPzaGAtP38zb97uygAG+IWHenm4bWq9WrihOnGb9CDsk5+FO+jjRbhLfyjcwxumwn084p07eP4dnQFK4Rbu8SHcpv8p7JO/hDt4wrdwl/6PcA8r/An38eoN08gUsSncUif7LLRnef6utK1SU6hJMD5bC11oGzq9Ueujqg7J1LlYxdbkas6uzjKjSmt2OnLB1rlyNhrF4geRyZEigkGBuKkOS2gk2CNDCHvVvdQrpi0q+rVWmCDA+Cq1YKpokiGVxobJNY6sFQ48bUrXMa34Ws7kpLnMat4kIyv+77q3oxPRD7BtpkrMMOITX+SD5g75Pz0RXqgAAAB4nF3GOQrAIBQA0T/Zo9ku4qEs3EAIiOD1U4Q0ec2MdPL6+nfS0TMwMjGzsKLQbOwcnFyibCl3M9n5qt8tKcSKpXDTMGQcnkoiEEUery4ODQ==')
    format('woff');
}

[class^='icon-'],
[class*=' icon-'] {
  font-family: 'carousel-icon' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
  content: '\f101';
}
.icon-arrow-right:before {
  content: '\f102';
}
