@import '../share/mixin';

.luna-carousel {
  @include component();
  background: #000;
  width: 100%;
  height: 100%;
  min-height: 150px;
  font-family: $font-family;
  user-select: none;
  position: relative;
  * {
    box-sizing: border-box;
  }
  &:hover {
    .arrow-left,
    .arrow-right {
      opacity: 1;
    }
  }
}

.arrow-left,
.arrow-right {
  color: #fff;
  position: absolute;
  top: 50%;
  width: 36px;
  height: 36px;
  margin-top: -18px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s, opacity 0.3s;
  opacity: 0;
  &:hover {
    background: rgba(0, 0, 0, 0.35);
  }
  .icon {
    line-height: 36px;
    font-size: 30px;
  }
}

.arrow-left {
  left: 20px;
}

.icon-arrow-left {
  position: relative;
  left: 2px;
}

.arrow-right {
  right: 20px;
}

.icon-arrow-right {
  position: relative;
  left: 5px;
}

.indicators {
  position: absolute;
  width: 100%;
  bottom: 20px;
  text-align: center;
  ul {
    background: rgba(0, 0, 0, 0.2);
    list-style: none;
    padding: 5px;
    margin: 0;
    display: inline-block;
    border-radius: 10px;
    font-size: 0;
  }
}

.indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 3px;
  border-radius: 50%;
  cursor: pointer;
  &.active {
    background: #fff;
  }
}

.body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.item {
  position: relative;
  width: 100%;
  height: 100%;
  float: left;
  margin-right: -100%;
  display: none;
  transition: transform 0.6s ease-in-out;
}

.item.active,
.item-next,
.item-prev {
  display: block;
}

.item-prev:not(.item-end),
.active.item-start {
  transform: translateX(-100%);
}

.item-next:not(.item-start),
.active.item-end {
  transform: translateX(100%);
}
