@import '../share/mixin';

// https://codepen.io/manz/pen/XQYoKd
.luna-retro-handheld {
  @include component();
  min-width: 380px;
  background: #d3ccd3 linear-gradient(#d3ccd3 95%, #999 98%, #777 99%);
  overflow: hidden;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.luna-retro-handheld > .top {
  display: flex;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  & .corner {
    width: 25px;
    height: 20px;
  }
  & .corner.left {
    margin-right: 5px;
  }
  & .corner.right {
    margin-left: 5px;
  }
  & .top {
    width: 100%;
  }

  & > div {
    border-radius: 0 0 2px 2px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);

    & span {
      font-family: Arial, sans-serif;
      font-size: 12px;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5) inset;
      text-shadow: 2px 1px 2px rgba(0, 0, 0, 1);
      color: #eee;
      border-radius: 15px;
      margin: 0 6px;
      padding: 2px 5px;
      opacity: 0.25;
    }
  }
}

.screen {
  width: calc(100% - 40px);
  box-shadow: 0 0 2px #514c65;
  height: 270px;
  margin: 0 auto;
  padding: 12px 14px;
  background: #6d6e77;
  border-radius: 8px;
  position: relative;
}

.game-screen {
  border-radius: 4px;
  overflow: hidden;
}

.controls {
  display: flex;
  justify-content: space-between;
}

.cross {
  background: linear-gradient(to bottom, #c4bfc6 -10%, #e2e0eb 130%);
  border-radius: 50%;
  padding: 10px;
  width: 100px;
  height: 100px;
  margin: 30px;
  display: grid;
  grid-template-areas: '. up .' 'left center right' '. down .';

  & .cursor {
    background: #040308;
    border: 3px solid #040308;
    box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.6);
    display: flex;
  }

  & .cursor.up,
  & .cursor.left,
  & .cursor.right {
    border-top-color: #c5d8e1;
  }

  & .cursor .circle {
    border: 1px solid #111;
    border-left: 0;
    border-bottom: 0;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background: conic-gradient(
      transparent 0 30%,
      rgba(255, 255, 255, 0.5) 40% 60%,
      transparent 70%
    );
  }

  & .cursor.up {
    grid-area: up;
  }
  & .cursor.left {
    grid-area: left;
  }
  & .cursor.center {
    grid-area: center;
  }
  & .cursor.right {
    grid-area: right;
  }
  & .cursor.down {
    grid-area: down;
  }

  & .cursor.active {
    box-shadow: none;
    border-color: #111;
  }
  & .cursor.center.active {
    border-color: #040308;
  }
}

.button-container {
  display: flex;
  flex-direction: column;
  margin: 30px 30px 30px 0;
}

.buttons {
  height: 50px;
  display: flex;
  align-items: center;

  & .button {
    width: 35px;
    height: 35px;
    margin: 0 6px;
    position: relative;
    background: #e0421b;
    background: -webkit-radial-gradient(
      35% 35%,
      circle closest-corner,
      #ff8957,
      #e0421b 100%
    );
    border-radius: 2em;
    border: 0.08em solid hsla(10, 90%, 55%, 1);
    box-shadow: 0 1em 0.2em 0 hsla(10, 90%, 45%, 0.5) inset,
      0 0.1em 0 hsla(10, 90%, 30%, 1), 0 0.2em 0 hsla(10, 90%, 26%, 1),
      0 0.3em 0 hsla(10, 90%, 23%, 1), 0 0.24em 0 0.15em hsla(0, 0%, 15%, 1),
      0 0.075em 0.5em rgba(0, 0, 0, 0.3), 0 0.15em 0.5em rgba(0, 0, 0, 0.3),
      0 0.3em 0.5em rgba(0, 0, 0, 0.3), 0 0.6em 0.5em rgba(0, 0, 0, 0.3);

    &.active {
      box-shadow: 2em 1em 0.2em 0 hsla(10, 90%, 45%, 0.5) inset,
        0 0.1em 0 hsla(10, 90%, 30%, 1), 0 0 0 0.15em hsla(0, 0%, 15%, 1),
        0 0.075em 0.5em rgba(0, 0, 0, 0.3);
      top: 4px;
    }
  }
  & .button::after {
    font-family: Pretendo, sans-serif;
    font-size: 16px;
    color: #fff;
    content: attr(data-button);
    opacity: 0.5;
    position: relative;
    right: -11px;
    bottom: -6px;
    transform: rotate(45deg);
  }
}

.game-controls {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  & .gap {
    background: linear-gradient(#b7acb1 -10%, #f1f3f2 130%);
    transform: rotate(-28deg);
    margin: 0 5px;
    border-radius: 15px;
  }

  & .button {
    background: #9e9baf;
    border-radius: 10px;
    box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.4) inset,
      2px 2px 5px rgba(255, 255, 255, 0.7) inset, 2px 2px 6px rgba(0, 0, 0, 0.8);
    width: 40px;
    height: 12px;
    margin: 6px 8px;

    &.active {
      box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.4) inset,
        2px 2px 5px rgba(0, 0, 0, 0.7) inset;
    }
  }

  & .button::after {
    font-size: 10px;
    color: #fff;
    content: attr(data-button);
    position: relative;
    right: 0;
    bottom: -20px;
  }
}

.luna-retro-handheld > .bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.speaker {
  display: flex;
  width: 80px;
  justify-content: space-around;
  position: absolute;
  right: 15px;
  bottom: 35px;
  transform: rotate(-30deg);

  &::after {
    content: '';
    width: 300px;
    height: 80px;
    position: absolute;
    background: rgba(0, 0, 0, 0.1);
    top: 30px;
  }

  & .band {
    width: 8px;
    height: 50px;
    border-radius: 8px;
    box-shadow: 3px 6px 1px rgba(0, 0, 0, 0.6) inset;
    background: rgba(0, 0, 0, 0.35);
  }
}
