@import '../share/mixin';

.luna-markdown-editor {
  @include component();
  border: 1px solid $color-border;
  display: flex;
  flex-direction: column;
  &.fullscreen {
    position: fixed;
    width: 100% !important;
    height: 100% !important;
    left: 0;
    top: 0;
    border: none;
    .textarea,
    .preview-container {
      height: 100% !important;
    }
  }
}

.toolbar {
  border-bottom: 1px solid $color-border;
  font-size: 0;
}

.button {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  color: $color-text;
  border: none;
  background: $color-bg-container;
  cursor: pointer;
  &:hover {
    background: $color-fill-secondary;
  }
  &.active {
    color: $color-primary;
  }
}

.body {
  position: relative;
  font-size: 0;
  height: 100%;
}

.textarea {
  padding: 8px;
  margin: 0;
  width: 100%;
  outline: none;
  border: none;
  resize: vertical;
  min-height: 100px;
  height: 300px;
  font-family: inherit;
  color: $color-text;
}

.preview-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 8px;
  background: $color-bg-container;
}

.theme-dark {
  border-color: $color-border-dark;
  .toolbar {
    border-color: $color-border-dark;
  }
  .toolbar,
  .button {
    background: $color-bg-container-dark;
  }
  .button {
    color: $color-text-dark;
  }
  .textarea {
    color: $color-text-dark;
  }
  .textarea,
  .preview-container {
    background: $color-bg-container-dark;
  }
}
