@import '../share/mixin';
@import '../share/variable';

.luna-dom-viewer {
  @include component();
  @include overflow-auto(y);
  background: transparent;
  overflow-x: hidden;
  word-wrap: break-word;
  padding: 0 0 0 12px;
  font-size: $font-size-s;
  font-family: $font-family-code;
  cursor: default;
  list-style: none;
  ul {
    list-style: none;
  }
  &.theme-dark {
    color: #e8eaed;
  }
}

.toggle {
  min-width: 12px;
  margin-left: -12px;
}

.icon-arrow-right,
.icon-arrow-down {
  position: absolute !important;
  font-size: 12px !important;
}

.tree-item {
  line-height: 16px;
  min-height: 16px;
  position: relative;
  z-index: 10;
  outline: none;
  &.selected,
  &:hover {
    .selection {
      display: block;
    }
  }
  &:hover {
    .selection {
      background: #f2f7fd;
    }
  }
  &.selected {
    .selection {
      background: #e0e0e0;
    }
  }
  &.selected:focus {
    .selection {
      background: #cfe8fc;
    }
  }
  .icon-arrow-down {
    display: none;
  }
  &.expanded {
    .icon-arrow-down {
      display: inline-block;
    }
    .icon-arrow-right {
      display: none;
    }
  }
}

.html-tag {
  color: #881280;
}

.tag-name {
  color: #881280;
}

.attribute-name {
  color: #994500;
}

.attribute-value {
  color: #1a1aa6;
  &.attribute-underline {
    text-decoration: underline;
  }
}

.html-comment {
  color: #236e25;
}

.selection {
  position: absolute;
  display: none;
  left: -10000px;
  right: -10000px;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.children {
  margin: 0;
  overflow-x: visible;
  overflow-y: visible;
  padding-left: 15px;
}

.text-node {
  @include code-color;
}

.theme-dark {
  .icon-arrow-down,
  .icon-arrow-right {
    color: #9aa0a6;
  }
  .html-tag,
  .tag-name {
    color: #5db0d7;
  }
  .attribute-name {
    color: #9bbbdc;
  }
  .attribute-value {
    color: #f29766;
  }
  .html-comment {
    color: #898989;
  }
  .tree-item {
    &:hover {
      .selection {
        background: #083c69;
      }
    }
    &.selected {
      .selection {
        background: #454545;
      }
    }
    &.selected:focus {
      .selection {
        background: #073d69;
      }
    }
  }
  .text-node {
    @include code-color(true);
  }
}
