@import '../share/variable.scss';

.luna-window {
  position: absolute;
  pointer-events: all;
  display: flex;
  flex-flow: column;
  background: #fff;
  border: 1px solid rgba(196, 196, 196, 0.9);
  overflow: hidden;
  box-shadow: $box-shadow;
  box-sizing: border-box;
  display: none;
}

.desktop {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 3000;
  pointer-events: none;
}

.title-bar {
  height: 30px;
  cursor: default;
  user-select: none;
  background: rgb(245, 245, 245);
  display: flex;
  flex-flow: row;
  font-family: $font-family;
}

.title-bar-left {
  display: flex;
  padding: 0 5px;
  min-width: 0;
}

.title {
  font-size: 14px;
  line-height: 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.title-bar-center {
  flex: 1;
}

.title-bar-right {
  text-align: center;
  display: flex;
  .icon {
    width: 30px;
    height: 30px;
    font-size: 18px;
    line-height: 30px;
    &.icon-maximize {
      font-size: 14px;
    }
    &.icon-minimize {
      font-size: 16px;
    }
    &:hover {
      background: rgba(196, 196, 196, 0.9);
    }
  }
}
