@import '../share/variable.scss';

.luna-window {
  position: absolute;
  pointer-events: all;
  display: flex;
  flex-flow: column;
  background: #fff;
  border: 1px solid $primary-color;
  border-radius: 4px;
  box-shadow: $box-shadow;
  overflow: hidden;
}

.desktop {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 3000;
  pointer-events: none;
}

.title-bar {
  height: 30px;
  cursor: default;
  user-select: none;
  background: #f5f5f5;
  display: flex;
  flex-flow: row;
  font-family: $font-family;
}

.title-bar-left {
  padding: 0 5px;
}

.title {
  line-height: 30px;
}
