@use '../share/mixin' as *;
@use '../share/theme' as *;

.luna-tab {
  position: relative;
  overflow: hidden;
  width: 100%;
  @include component();
}

.tabs-container {
  border-bottom: 1px solid;
}

.tabs {
  @include overflow-auto(x);
  overflow-y: hidden;
  width: 100%;
  height: 100%;
  font-size: 0;
  white-space: nowrap;
  &::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }
}

.item {
  display: inline-flex;
  cursor: pointer;
  padding: 0 10px;
  font-size: #{$font-size-s-m}px;
  text-align: center;
  text-transform: capitalize;
  &:hover, &.selected {
    .close-container {
      opacity: 1;
    }
  }
}

.close-container {
  display: flex;
  height: 100%;
  width: 12px;
  align-items: center;
  justify-content: center;
  opacity: 0.2;
}

.close {
  position: relative;
  left: 4px;
  border-radius: #{$border-radius-x-s}px;
  width: 14px;
  height: 14px;
  cursor: pointer;
  line-height: 14px;
}

.icon-close {
  font-size: 14px;
}

.slider {
  transition: left 0.3s, width 0.3s;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
}

@each $theme in ('light', 'dark') {
  .theme-#{$theme} {
    .tabs-container {
      @include theme-var(border-color, color-border, $theme);
    }
    .item {
      &.luna-tab-selected {
        @include theme-var(color, color-primary, $theme);
      }
      &:hover {
        @include theme-var(color, color-text, $theme);
        @include theme-var(background-color, color-fill-secondary, $theme);
      }
    }
    .close {
      @include theme-var(color, color-text, $theme);
      &:hover {
        @include theme-var(background-color, color-fill-secondary, $theme);
      }
    }
    .slider {
      @include theme-var(background-color, color-primary, $theme);
    }
  }
}
