.luna-scrollbar {
  position: relative;
}

.wrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.offset {
  position: absolute;
  top: 0;
  left: 0;
}
