@import '../share/mixin.scss';

.luna-scrollbar {
  @include component();
  position: relative;
  box-sizing: border-box;
  &:hover {
    .track {
      opacity: 1;
    }
  }
}

.wrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.offset {
  position: absolute;
  top: 0;
  left: 0;
}

.content-wrapper {
  width: 100%;
  height: 100%;
  &::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }
}

.track {
  z-index: 1;
  position: absolute;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.3s;
  &.active {
    opacity: 1;
  }
}

.thumb {
  position: absolute;
  touch-action: none;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.horizontal {
  left: 2px;
  right: 2px;
  bottom: 2px;
  height: 6px;
  .thumb {
    top: 0;
    bottom: 0;
  }
}

.vertical {
  top: 2px;
  bottom: 2px;
  right: 2px;
  width: 6px;
  .thumb {
    left: 0;
    right: 0;
  }
}
