@use '../share/mixin' as mixin;
@use '../share/theme' as theme;

$padding: 10px;
$border: #ccc;
$foreground: #333;
$darker-background: #f3f3f3;
$contrast: #f2f7fd;
$console-error-background: #fff0f0;
$console-error-foreground: #f00;
$console-error-border: #ffd6d6;
$console-warn-foreground: #5c5c00;
$console-warn-background: #fffbe5;
$console-warn-border: #fff5c2;
$console-selected-background: #ecf1f8;
$console-selected-border: #ccdef5;

$foreground-dark: #a5a5a5;
$border-dark: #3d3d3d;
$darker-background-dark: #333;
$contrast-dark: #0b2544;
$console-error-background-dark: #290000;
$console-error-foreground-dark: #ff8080;
$console-error-border-dark: #5c0000;
$console-warn-foreground-dark: #ffcb6b;
$console-warn-background-dark: #332a00;
$console-warn-border-dark: #650;
$console-selected-background-dark: #29323d;
$console-selected-border-dark: #4173b4;

.luna-console {
  background: theme.$color-bg-container;
  @include mixin.overflow-auto(y);
  height: 100%;
  position: relative;
  will-change: scroll-position;
  cursor: default;
  font-size: #{theme.$font-size-s-m}px;
  font-family: theme.$font-family-code;
  &.theme-dark {
    background-color: theme.$color-bg-container-dark;
  }
}

.hidden {
  display: none;
}

.fake-logs {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  visibility: hidden;
  width: 100%;
}

.logs {
  padding-top: 1px;
  position: absolute;
  width: 100%;
}

.log-container {
  box-sizing: content-box;
  &.selected {
    .log-item {
      background: $console-selected-background;
      &:not(.error):not(.warn) {
        border-color: $console-selected-border;
      }
    }
  }
}

.header {
  white-space: nowrap;
  display: flex;
  font-size: 11px;
  color: #545454;
  border-top: 1px solid transparent;
  border-bottom: 1px solid $border;
  .time-from-container {
    @include mixin.overflow-auto(x);
    padding: 3px $padding;
  }
}

.nesting-level {
  width: 14px;
  flex-shrink: 0;
  margin-top: -1px;
  margin-bottom: -1px;
  position: relative;
  border-right: 1px solid $border;
  &.group-closed::before {
    content: '';
  }
  &::before {
    border-bottom: 1px solid $border;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 100%;
    width: 5px;
    height: 100%;
    box-sizing: border-box;
  }
}

.log-item {
  position: relative;
  display: flex;
  @include mixin.clear-float();
  border-top: 1px solid transparent;
  border-bottom: 1px solid $border;
  margin-top: -1px;
  color: $foreground;
  .code {
    display: inline;
    font-family: theme.$font-family-code;
    @include mixin.code-color;
  }
  a {
    color: #15c !important;
  }
  .icon-container {
    margin: 0 -6px 0 $padding;
    .icon {
      line-height: 20px;
      font-size: #{theme.$font-size-s-m}px;
      color: $foreground;
      position: relative;
    }
    .icon-caret-right,
    .icon-caret-down {
      top: 0;
      left: -2px;
    }
    .icon-error {
      top: 0;
      color: #ef3842;
    }
    .icon-warn {
      top: 0;
      color: #e8a400;
    }
  }
  .count {
    background: #8097bd;
    color: #fff;
    padding: 2px 4px;
    border-radius: 10px;
    font-size: #{theme.$font-size-s-m}px;
    float: left;
    margin: 1px -6px 0 $padding;
  }
  .log-content-wrapper {
    flex: 1;
    overflow: hidden;
  }
  .log-content {
    padding: 3px 0;
    margin: 0 $padding;
    @include mixin.overflow-auto(x);
    white-space: pre-wrap;
    user-select: text;
    * {
      user-select: text;
    }
    & > * {
      vertical-align: top;
    }
    .undefined,
    .null {
      color: #5e5e5e;
    }
    .number {
      color: #1c00cf;
    }
    .boolean {
      color: #0d22aa;
    }
    .symbol,
    .regexp {
      color: #881391;
    }
  }
  .data-grid,
  .dom-viewer {
    white-space: initial;
  }
  &.error {
    z-index: 50;
    background: $console-error-background;
    color: $console-error-foreground;
    border-top: 1px solid $console-error-border;
    border-bottom: 1px solid $console-error-border;
    .stack {
      padding-left: 1.2em;
      white-space: nowrap;
    }
    .count {
      background: $console-error-foreground;
    }
  }
  &.debug {
    z-index: 20;
  }
  &.input {
    border-bottom-color: transparent;
  }
  &.warn {
    z-index: 40;
    color: $console-warn-foreground;
    background: $console-warn-background;
    border-top: 1px solid $console-warn-border;
    border-bottom: 1px solid $console-warn-border;
    .count {
      background: #e8a400;
    }
  }
  &.info {
    z-index: 30;
  }
  &.group,
  &.groupCollapsed {
    font-weight: bold;
  }
}

.preview {
  display: inline-block;
  .preview-container {
    display: flex;
    align-items: center;
  }
  .json {
    @include mixin.overflow-auto(x);
    padding-left: 12px;
  }
  .preview-icon-container {
    display: block;
    .icon {
      position: relative;
      font-size: #{theme.$font-size-s-m}px;
    }
    .icon-caret-down {
      top: 2px;
    }
    .icon-caret-right {
      top: 1px;
    }
  }
  .preview-content-container {
    word-break: break-all;
  }
  .descriptor,
  .object-preview {
    font-style: italic;
  }
  .key {
    color: #881391;
  }
  .number {
    color: #1c00cf;
  }
  .null {
    color: #5e5e5e;
  }
  .string {
    color: #c41a16;
  }
  .boolean {
    color: #0d22aa;
  }
  .special {
    color: #5e5e5e;
  }
}

.theme-dark {
  color-scheme: dark;
  .log-container {
    &.selected {
      .log-item {
        background: $console-selected-background-dark;
        &:not(.error):not(.warn) {
          border-color: $console-selected-border-dark;
        }
      }
    }
  }
  .log-item {
    color: $foreground-dark;
    border-bottom-color: $border-dark;
    .code {
      @include mixin.code-color(true);
    }
    &.error {
      background: $console-error-background-dark;
      color: $console-error-foreground-dark;
      border-top-color: $console-error-border-dark;
      border-bottom-color: $console-error-border-dark;
      .count {
        background: $console-error-foreground-dark;
      }
    }
    &.warn {
      color: $console-warn-foreground-dark;
      background: $console-warn-background-dark;
      border-top-color: $console-warn-border-dark;
      border-bottom-color: $console-warn-border-dark;
    }
    .count {
      background: #42597f;
      color: #949494;
    }
    .log-content {
      .undefined,
      .null {
        color: #7f7f7f;
      }
      .number,
      .boolean {
        color: #9980ff;
      }
      .symbol,
      .regexp {
        color: #e36eec;
      }
    }
  }
  .icon-container {
    .icon-caret-right,
    .icon-caret-down {
      color: #9aa0a6;
    }
  }
  .header {
    border-bottom-color: $border-dark;
  }
  .nesting-level {
    border-right-color: $border-dark;
    &::before {
      border-bottom-color: $border-dark;
    }
  }
  .preview {
    .key {
      color: #e36eec;
    }
    .number {
      color: #9980ff;
    }
    .null {
      color: #7f7f7f;
    }
    .string {
      color: #f29766;
    }
    .boolean {
      color: #9980ff;
    }
    .special {
      color: #7f7f7f;
    }
  }
}
