@import '../share/variable';
@import '../share/mixin';

.luna-video-player {
  background: #000;
  min-height: 150px;
  user-select: none;
  position: relative;
  font-size: 14px;
  * {
    box-sizing: border-box;
  }
}

@include controller('video-player');

.video {
  display: flex;
  width: 100%;
  height: 100%;
  video {
    width: 100%;
    height: 100%;
  }
}

.controller-top {
  padding: 5px 0;
  position: absolute;
  bottom: 38px;
  width: calc(100% - 40px);
}

.controller-top:hover {
  .bar-thumb {
    opacity: 1;
  }
}

.bar-thumb {
  opacity: 0;
  transition: opacity 0.5s;
  position: absolute;
  margin-right: -4px;
  right: 0;
  top: -2px;
  width: 8px;
  height: 8px;
  display: inline-block;
  background: $primary-color;
  border-radius: 50%;
}

.bar {
  position: relative;
  height: 3px;
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
}

.bar-played,
.bar-loaded {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  height: 3px;
}

.bar-loaded {
  background: rgba(255, 255, 255, 0.5);
  transition: width 0.3s;
}

.bar-played {
  background: $primary-color;
}

.play,
.volume {
  margin-right: 8px;
  height: 100%;
  display: inline-block;
  vertical-align: top;
}

.volume {
  height: 100%;
  &:hover,
  &.active {
    .volume-controller {
      width: 50px;
    }
    .volume-bar {
      width: 45px;
    }
  }
}

.volume-controller {
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: top;
  transition: width 0.3s;
}

.volume-bar {
  height: 3px;
  position: relative;
  top: 18px;
  border-radius: 1.5px;
  overflow: hidden;
  background: #aaa;
  transition: width 0.3s;
}

.volume-bar-fill {
  background: $primary-color;
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
}

.time {
  color: #eee;
  font-size: $font-size-s;
  line-height: 38px;
}
