.luna-cropper {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC');
  position: relative;
}

.wrap-box,
.drag-box,
.crop-box {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.wrap-box {
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
  }
}

.drag-box {
  cursor: crosshair;
  background: #000;
  opacity: 0.5;
}

.crop-box {
  background: #fff;
  opacity: 0.5;
}
