@import '../share/mixin';

.luna-cropper {
  @include component();
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC');
  position: relative;
  min-height: 150px;
  touch-action: none;
}

.preview {
  overflow: hidden;
}

.cursor-all * {
  cursor: move !important;
}
.cursor-crop * {
  cursor: crosshair !important;
}
.cursor-e *,
.cursor-w * {
  cursor: ew-resize !important;
}
.cursor-n *,
.cursor-s * {
  cursor: ns-resize !important;
}
.cursor-nw *,
.cursor-se * {
  cursor: nwse-resize !important;
}
.cursor-ne *,
.cursor-sw * {
  cursor: nesw-resize !important;
}

.wrap-box,
.drag-box,
.crop-box {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.wrap-box {
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
  }
}

.drag-box {
  cursor: crosshair;
  background: #000;
  opacity: 0.5;
}

.view-box {
  display: block;
  height: 100%;
  outline: 1px solid $color-primary;
  overflow: hidden;
  width: 100%;
}

.face,
.line,
.point {
  display: block;
  height: 100%;
  opacity: 0.1;
  position: absolute;
  width: 100%;
}

.center {
  display: block;
  height: 0;
  left: 50%;
  opacity: 0.75;
  position: absolute;
  top: 50%;
  width: 0;
  &::before,
  &::after {
    background-color: #fff;
    content: ' ';
    display: block;
    position: absolute;
  }
  &::before {
    height: 1px;
    left: -3px;
    top: 0;
    width: 7px;
  }
  &::after {
    height: 7px;
    left: 0;
    top: -3px;
    width: 1px;
  }
}

.dashed {
  border: 0 dashed #fff;
  display: block;
  position: absolute;
  &.dashed-h {
    border-bottom-width: 1px;
    border-top-width: 1px;
    height: calc(100% / 3);
    left: 0;
    top: calc(100% / 3);
    width: 100%;
  }
  &.dashed-v {
    border-left-width: 1px;
    border-right-width: 1px;
    height: 100%;
    left: calc(100% / 3);
    top: 0;
    width: calc(100% / 3);
  }
}

.face {
  background-color: #fff;
  left: 0;
  top: 0;
  cursor: move;
}

.line {
  background: $color-primary;
  &.line-e {
    cursor: ew-resize;
    right: -3px;
    top: 0;
    width: 5px;
  }
  &.line-n {
    cursor: ns-resize;
    height: 5px;
    left: 0;
    top: -3px;
  }
  &.line-w {
    cursor: ew-resize;
    left: -3px;
    top: 0;
    width: 5px;
  }
  &.line-s {
    bottom: -3px;
    cursor: ns-resize;
    height: 5px;
    left: 0;
  }
}

.point {
  background-color: $color-primary;
  border: 2px solid #fff;
  height: 6px;
  opacity: 1;
  width: 6px;
  &.point-e {
    cursor: ew-resize;
    margin-top: -5px;
    right: -5px;
    top: 50%;
  }
  &.point-n {
    cursor: ns-resize;
    left: 50%;
    margin-left: -5px;
    top: -5px;
  }
  &.point-w {
    cursor: ew-resize;
    left: -5px;
    margin-top: -5px;
    top: 50%;
  }
  &.point-s {
    bottom: -5px;
    cursor: s-resize;
    left: 50%;
    margin-left: -5px;
  }
  &.point-ne {
    cursor: nesw-resize;
    right: -5px;
    top: -5px;
  }
  &.point-nw {
    cursor: nwse-resize;
    left: -5px;
    top: -5px;
  }
  &.point-sw {
    bottom: -5px;
    cursor: nesw-resize;
    left: -5px;
  }
  &.point-se {
    bottom: -5px;
    cursor: nwse-resize;
    right: -5px;
  }
}
